<div
  class="card"
  *ngFor="let EducationExperience of EducationExperiences; index as i"
  style="margin: 1%"
>
  <div [class.d-none]="EditDisplay[i]">
    <div class="card-header d-flex justify-content-between">
      <div>
        {{ EducationExperience.Education }}
      </div>
      <div>
        <button
          (click)="
            EditDisplay[i] = !EditDisplay[i]; HideAddEducationExperiencePage.emit()
          "
          type="button"
          class="btn btn-primary"
        >
          Edit
        </button>
        <button
          (click)="DeleteEducationExperience.emit(EducationExperience)"
          type="button"
          class="btn btn-secondary"
        >
          Delete
        </button>
      </div>
    </div>
    <div class="card-body">
      <h5 class="card-title">{{ EducationExperience.CourseDuration }}</h5>
      <p *ngIf="EducationExperience.HaveCompletedCourse" class="card-text">
        Completed Course in {{ EducationExperience.CompletionYear }}
      </p>
      <p *ngIf="!EducationExperience.HaveCompletedCourse" class="card-text">
        Did not Completed Course
      </p>
    </div>
  </div>
  <app-add-education-experience
    style="padding: 2.5%"
    [PlaceHolder]="'Edit'"
    [RequiredEducationToEdit]="EducationExperience"
    (OnSave)="UpdateAndAssignIndex($event, i)"
    (OnClose)="EditDisplay[i] = !EditDisplay[i]"
    [class.d-none]="!EditDisplay[i]"
  ></app-add-education-experience>
</div>
