
<section class="About">
  <div class="container">
    <div class="row mt-5">
      <div class="col-12 col-md-3 col-lg-3 col-xl-3">
        <app-about-side-bar></app-about-side-bar>
      </div>
      <div class="col-12 col-md-9 col-lg-9 col-xl-9 ar">
        <app-contactus></app-contactus>
        <app-faq-about></app-faq-about>
        <app-about></app-about>
        <app-privacy-policy></app-privacy-policy>
      </div>
    </div>
  </div>
</section>

<section class="bg bg-dark py-4 ng-star-inserted">
  <div class="container">
    <div class="row text-center">
      <div class="col-12">
        <h4 class="text-light"> Got a question?</h4>
        <h5 class="text-light mb-3"> We are here to help you. Check out our FAQs or
          send an email to our support team. </h5><a href="mailto: helperplane.com"
          class="btn btn_custom_color text-light text-center my-2 mx-auto btn-lg rounded bg-green"> Contact Us </a>
      </div>
    </div>
  </div>
</section>