<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-5 col-md-6 col-sm-12">
            <form (ngSubmit)="onSubmit()" #adminForm="ngForm" class="needs-validation bg-white p-4 rounded shadow" novalidate>
                <h4 class="mb-4 text-primary">Admin Form</h4>
                <div class="mb-3">
                    <label for="userName" class="form-label text-primary">Name:</label>
                    <input type="text" id="userName" name="userName" [(ngModel)]="admin.userName" class="form-control border-primary"
                        required>
                    <div class="invalid-feedback">Please enter the admin name.</div>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label text-primary">Email:</label>
                    <input type="email" id="email" name="email" [(ngModel)]="admin.email" class="form-control border-primary"
                        required>
                    <div class="invalid-feedback">Please enter a valid email.</div>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label text-primary">Password:</label>
                    <input type="password" id="password" name="password" [(ngModel)]="admin.password" class="form-control border-primary"
                        required>
                    <div class="invalid-feedback">Please enter a password.</div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-12 text-center">
                        <button type="submit" [disabled]="adminForm.invalid" class="btn btn-outline-primary rounded-pill">ADD</button>
                        <a class="btn btn-outline-danger rounded-pill ms-2" (click)="back()">Back</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


