<section class="ng-star-inserted">
  <h1 class="primary text-center">About Us</h1>
  <div class="content">
    We <a routerLink="/home">Helper Plan</a>, are a team of ethical
    professionals dedicated to the betterment of the job seekers and domestic
    workers. Founded in 2016, our online platform is designed to assist the
    employers as well as the helpers by enabling them to make informed
    decisions. Our working method is simple and straight;<b>
      we connect helpers and employers seamlessly</b
    >, providing both of them a fair recruitment experience.
    <p></p>
    <p>
      Gone are the days when the domestic helpers were required to pay
      unethical, hefty fees to the employment agencies. At Helper Plan, we are
      committed to providing instant access to both the parties through well
      structured profiles, screening and a streamlined hiring process.
    </p>
  </div>
  <h2>Why choose us?</h2>
  <h3>Ethical</h3>
  <div class="content">
    <p>
      Helper Plan advocates for fair employment practices by connecting helpers,
      caregivers, and other job seekers with employers without charging the
      workers any fees. This approach helps to prevent exploitation and ensure
      that the workers are not burdened with debt before they start their jobs.
      We follow ethical practices and look forward to better our system in the
      days to come.
    </p>
  </div>
  <div class="text-center col-12 col-md-10 col-lg-10 col-xl-10 mb-3 mx-auto">
    <picture>
      <source media="(max-width:576px)" srcset="assets/images/about-sm.webp" />
      <source srcset="assets/images/about-md.webp" />
      <img
        loading="lazy"
        alt="Helper Plan Logo"
        onerror="this.onerror = null;this.parentNode.children[0].srcset = this.parentNode.children[1].srcset = this.src;"
        class="img-fluid title-img"
        src="https://cdn.helperplace.com/front-app/assets/images/about-md.webp"
      />
    </picture>
  </div>
  <h3>Responsible</h3>
  <div class="content">
    <p>
      We are highly responsible and equally passionate about what we are doing.
      Our moral values motivate us to strive even more and work towards the
      cause of <b> developing a free and fair job market</b>. While there are
      several agencies that are taking advantage of the candidates, we at Helper
      Plan are working full length and beyond our capacity to ensure they get
      access to a fair and equitable hiring process.
    </p>
  </div>
  <h3>For Helpers</h3>
  <div class="content">
    <p>
      We provide <b> FREE access to the domestic job market online</b>. We have
      engineered a free marketplace wherein you can
      <a href="/find-job"> get in touch with potential employers directly</a>;
      we work to help you get placed with the right employer and strive to
      <b> build long-term cordial working relationships</b>. Just submit your
      profile for free on our platform and await your placement with the family
      of your choice.
    </p>
  </div>
  <div class="text-center col-12 col-md-10 col-lg-10 col-xl-10 mx-auto mb-5">
    <picture>
      <source
        media="(max-width:576px)"
        srcset="assets/images/No-placement-fees-sm.webp"
      />
      <source srcset="assets/images/No-placement-fees-md.webp" />
      <img
        alt="No Placement fees"
        loading="lazy"
        onerror="this.onerror = null;this.parentNode.children[0].srcset = this.parentNode.children[1].srcset = this.src;"
        class="img-fluid title-img"
        src="	https://cdn.helperplace.com/front-app/assets/images/No-placement-fees-md.webp"
      />
    </picture>
  </div>
  <h3>For Employers</h3>
  <div class="content">
    Our online platform is designed to give you access to the best domestic
    helpers. Our helper listing consists of
    <b>candidates with experience and expertise</b>. It doesn’t matter whether
    you are in Hong Kong, Singapore or Dubai; we assist you in
    <a href="/find-candidate">connecting with the helper of your choice</a>.
    Just choose the location, post a job, start receiving applications and get
    set to find a helper for your family.
  </div>
  <h3>Mission Statement</h3>
  <div class="content">
    Our mission is to provide a <b>fair recruitment environment </b> and
    introduce more features on our platform to make it even better. We want to
    reach out to as many candidates and employers as possible in order to
    <b> safely get a new job</b>. We are proud to be one of leading platform for
    hiring domestic staffs. Ready to
    <a href="/register"> join our community ?</a>
  </div>
  <h3>Contact Us</h3>
  <div class="content">
    Our head office is located in Saudi Arabia and we are happy to support our
    users in Philippine , Singapore and in the Middle East. Tel:
    <a href="tel:+9665995021110"> +966 59 950 2111</a>
  </div>
</section>
