footer {
    background-color: rgb(9, 8, 12);
    padding-top: 70px;
    
}

footer .footerContain {
    padding: 10px;
}

footer .pages div {
    margin-top: 5px;
}

footer .pages div a {
    text-decoration: none;
    color:white;
    font-weight: bold;

}

* {
    margin: 0;
    padding: 0;
    color: white;
}

.logo p{
    letter-spacing: 4px;
    font-weight: bolder;
    font-size: 20px;
    color: #423f92;
}
h1 {
    font-family: sans-serif;
    font-weight: normal;
    font-size: 25px;
    letter-spacing: 4px;
    padding: 200px 0 100px;
    color: #007cc4;
    text-align: center;

}

.Social-media {
    display: flex;
    justify-content: center;
}

.Social-media a {
    display: flex;
    background: #fff;
    height: 45px;
    width: 45px;
    margin: 0 15px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    box-shadow: 8px 11px 12px -1px rgba(0, 124, 196, 0.15), 0px -1px 9px 4px rgba(255, 255, 255, 0.7);
    border: 1px solid rgba(0, 124, 196, 0);
    transition: transform 0.5s;
}

.Social-media a i {
    font-size: 50px;
    color: #777;
    transition: transform 0.5s;
    font-size: 30px;
}

.Social-media a:hover {
    box-shadow: inset 4px 4px 6px -2px rgba(0, 0, 0, 0.2),
        inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
        -0.5px -0.5px 0px -1px rgba(255, 255, 255, 1),
        0.5px 0.5px 0px rgba(0, 0, 0, 0.15),
        0px 12px 10px -10px rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(0, 124, 196, 0.1);
    transform: translateY(2px);
}

.Social-media a:hover i {
    transform: scale(0.90);
}

.Social-media a:hover .fa-facebook {
    color: #3b5998;
}

.Social-media a:hover .fa-linkedin {
    color: #0072b1;
}

.Social-media a:hover .fa-whatsapp {
    color: #4fce5d;
}

.Social-media a:hover .fa-instagram {
    color: #f14843;
}

.Social-media a:hover .fa-youtube {
    color: #f00;
}