<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" routerLink="/home">
      <img
        src="assets/Images/icononly_transparent_nobuffer.png"
        alt=""
        id="logo"
      />
    </a>
    <button
      class="navbar-toggler d-lg-none"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#collapsibleNavId"
      aria-controls="collapsibleNavId"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span style="font-size: 7vh">≡</span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
      <ul class="navbar-nav MainLinks">
        <li class="nav-item" *ngIf="!IsLogged">
          <a class="nav-link taps" routerLink="/home">HOME</a>
        </li>
        <li class="nav-item" *ngIf="Role == 'Employer'">
          <a class="nav-link addJob taps" (click)="handleAddJob()">ADD JOB</a>
        </li>
        <li class="nav-item" *ngIf="Role != 'Employer'">
          <a class="nav-link taps" routerLink="/job">FIND JOB</a>
        </li>
        <li class="nav-item" *ngIf="Role != 'Candidate'">
          <a class="nav-link taps" routerLink="/candidatepage">CANDIDATES</a>
        </li>
        <li class="nav-item" *ngIf="IsLogged && Role == 'Candidate'">
          <a
            class="nav-link taps"
            routerLink="/candidateResume/candidatePersonalInfo"
            >ADD RESUME</a
          >
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link taps dropdown-toggle"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            PRICING & MORE
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item taps" routerLink="/aboutus">ABOUT US</a>
            </li>
            <li>
              <a class="dropdown-item taps" routerLink="/pricing">PRICING</a>
            </li>
            <li>
              <a
                class="dropdown-item taps"
                (click)="handleGoTo('/aboutus/contact')"
                >CONTACT US</a
              >
            </li>
            <li>
              <a class="dropdown-item taps" (click)="handleGoTo('/aboutus/FAQ')"
                >FIND AQ</a
              >
            </li>
            <li>
              <a
                class="dropdown-item taps"
                (click)="handleGoTo('/aboutus/privacy')"
                >PRIVACY POLICY</a
              >
            </li>
          </ul>
        </li>
      </ul>
      <ul *ngIf="!loginService.IsLogged" class="navbar-nav Buttons">
        <li *ngIf="Role == 'Admin'" class="nav-item">
          <a class="btn btn-outline-danger" routerLink="/dashboard"
            >ADMIN DASHBOARD</a
          >
        </li>
        <li class="nav-item">
          <a
            class="btn btn-outline-success"
            data-bs-toggle="modal"
            data-bs-target="#staticBackdrop"
            >REGISTER</a
          >
        </li>
        <li class="nav-item">
          <a class="btn btn-outline-warning" routerLink="/Login">Login</a>
        </li>
      </ul>
      <ul *ngIf="loginService.IsLogged" class="navbar-nav Buttons">
        <li *ngIf="Role == 'Admin'" class="nav-item">
          <a class="btn btn-outline-danger" routerLink="/dashboard"
            >ADMIN DASHBOARD</a
          >
        </li>
        <li class="nav-item">
          <a
            (click)="loginService.LogOutUser()"
            class="btn btn-outline-warning"
            routerLink="/Login"
            >LOGOUT</a
          >
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link taps dropdown-toggle"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            {{ userName }}
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item taps" routerLink="myaccount/profile"
                >MY PROFILE</a
              >
            </li>
            <li>
              <a
                class="dropdown-item taps"
                routerLink="myaccount/changepassword"
                >CHANGE PASSWORD</a
              >
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
