<div
  class="card"
  *ngFor="let WorkingExperience of WorkingExperiences ;index as i"
  style="margin: 1%"
>
  <div [class.d-none]="EditDisplay[i]">
    <div class="card-header d-flex justify-content-between">
      <div>
        From {{ month[WorkingExperience.StartDate.getMonth()] }}
        {{ WorkingExperience.StartDate.getFullYear() }} to
        {{ month[WorkingExperience.EndDate.getMonth()] }}
        {{ WorkingExperience.EndDate.getFullYear() }} in
        {{ WorkingExperience.WorkingCountry }}
      </div>
      <div>
        <button
          (click)="
            EditDisplay[i] = !EditDisplay[i]; HideAddWorkingExperiencePage.emit(true)
          "
          type="button"
          class="btn btn-primary"
        >
          Edit
        </button>
        <button
          (click)="DeleteWorkingExperience.emit(WorkingExperience)"
          type="button"
          class="btn btn-secondary"
        >
          Delete
        </button>
      </div>
    </div>
    <div class="card-body">
      <h5 class="card-title">{{ WorkingExperience.EmployerType }}</h5>
      <span class="card-text">Duties : </span>
      <span *ngFor="let Duty of WorkingExperience.Duties" class="card-text">
        {{ Duty }}
      </span>
      <p class="card-text">
        Have reference letter : {{ WorkingExperience.HaveReferenceLetter }} 
      </p>
    </div>
  </div>
  <app-add-work-experience style="padding: 2.5%;"
[RequiredWorkingToEdit]="WorkingExperience"
[PlaceHolder]="'Edit'"
(OnClose)="EditDisplay[i] = !EditDisplay[i]"
(OnSave) ="UpdateWorkingExperienceToIndex($event,i)"
[class.d-none]="!EditDisplay[i]"
>
</app-add-work-experience>
</div>

