<!-- <div class="Post-Resume">
  <form [formGroup]="AboutYouForm" class="Post-Resume-Form">
    <h1>About you</h1>
    <div class="col-md-12 mb-3">
      <span>Employer Type</span>
      <br />
      <div class="wrapper">
        <div *ngFor="let option of AboutYouService.EmployerType">
          <input (change)="
              AboutYouForm.controls['EmployerType'].setValue(option);
              EmployerType = option;
              updateemployervalidation(option)
            " type="radio" [name]="'EmployerType'" [value]="option" [id]="option" />
          <label [for]="option" [class]="'option ' + option">
            <span style="font-size: 15px">{{ option }}</span>
          </label>
        </div>
      </div>
    </div>
    <div class="col-md-6 mb-3" *ngIf="EmployerType == 'Family'">
      <div class="d-flex justify-content-between">
        <app-multiple-search-select (SelectedItemsChanged)="
            AboutYouForm.get('Family.FamilyType')?.setValue($event);
          " [class]="'col-md-5 mb-3'" [Data]="AboutYouService.FamilyType" [AllowSingleSelection]="true"
          [PlaceHolder]="'Family type'"></app-multiple-search-select>
        <app-multiple-search-select (SelectedItemsChanged)="
            AboutYouForm.get('Family.Nationality')?.setValue($event)
          " [class]="'col-md-5 mb-3'" [Data]="AboutYouService.Countries" [AllowSingleSelection]="true"
          [PlaceHolder]="'Nationality'"></app-multiple-search-select>
      </div>
      <app-slide-toggle (ValueChanged)="AboutYouForm.get('Family.HavePets')?.setValue($event)"
        [PlaceHolder]="'Do you have pets ?'"></app-slide-toggle>
    </div>
    <app-slide-toggle (ValueChanged)="
        AboutYouForm.controls['ReceiveByEmail'].setValue($event);
        ReceiveByEmail = !ReceiveByEmail
      " [PlaceHolder]="'Do you want to receive by email'"></app-slide-toggle>
    <div *ngIf="ReceiveByEmail">
      <mdb-form-control class="p-2 col-md-6 mb-3">
        <input formControlName="Email" mdbInput name="Email" type="email" id="form1" class="form-control" />
        <label mdbLabel class="form-label" for="form1">Email </label>
      </mdb-form-control>
    </div>
    <h1>What do you Offer to candidate</h1>
    <div class="col-md-6 mb-3">
      <app-multiple-search-select (SelectedItemsChanged)="
          AboutYouForm.controls['DayOFF'].setValue($event)
        " [Data]="AboutYouService.DayOff" [AllowSingleSelection]="true"
        [PlaceHolder]="'Day Off'"></app-multiple-search-select>
    </div>
    <div class="col-md-6 mb-3">
      <app-multiple-search-select (SelectedItemsChanged)="
          AboutYouForm.controls['Accomodation'].setValue($event)
        " [Data]="AboutYouService.Accomodation" [AllowSingleSelection]="true"
        [PlaceHolder]="'Accomodation'"></app-multiple-search-select>
    </div>
    <div class="col-md-12 mb-3">
      <span>Monthly Salary Offer</span>
      <br />
      <div class="wrapper">
        <div *ngFor="let option of AboutYouService.SalaryOffer">
          <input type="radio" (change)="updatesalaryvalidation(option)" [name]="'SalaryOffer'" [value]="option"
            [id]="option" (change)="
              AboutYouForm.controls['MonthlySalaryOffer'].setValue(option);
              MonthlySalaryOffer = option;
            " />
          <label [for]="option" [class]="'option ' + option">
            <span style="font-size: 15px">{{ option }}</span>
          </label>
        </div>
      </div>
      <div class="col-md-6 mb-3 d-flex justify-content-between" *ngIf="MonthlySalaryOffer == 'Fix'">
        <mdb-form-control formGroupName="Fix">
          <input formControlName="MonthlySalary" mdbInput name="Salary" type="number" id="form1" class="form-control" />
          <label mdbLabel class="form-label" for="form1">Monthly Salary </label>
        </mdb-form-control>
        <app-multiple-search-select (SelectedItemsChanged)="
            AboutYouForm.get('Fix.Currency')?.setValue($event)
          " [class]="'col-md-5 mb-3'" [Data]="AboutYouService.Currency" [AllowSingleSelection]="true"
          [PlaceHolder]="'Currency'"></app-multiple-search-select>
      </div>
      <div class="col-md-6 mb-3 d-flex justify-content-between" *ngIf="MonthlySalaryOffer == 'Range'"
        formGroupName="Range">
        <mdb-form-control class="col-md-3 mb-3">
          <input formControlName="MaxSalary" mdbInput name="Max Salary" type="number" id="form1" class="form-control" />
          <label mdbLabel class="form-label" for="form1">Max Salary </label>
        </mdb-form-control>
        <mdb-form-control class="col-md-3 mb-3">
          <input formControlName="MinSalary" mdbInput name="Min Salary" type="number" id="form1" class="form-control" />
          <label mdbLabel class="form-label" for="form1">Min Salary </label>
        </mdb-form-control>
        <app-multiple-search-select (SelectedItemsChanged)="
            AboutYouForm.get('Range.Currency')?.setValue($event)
          " [class]="'class=col-md-4 mb-3'" [Data]="AboutYouService.Currency" [AllowSingleSelection]="true"
          [PlaceHolder]="'Currency'"></app-multiple-search-select>
      </div>
      <div class="col-md-6 mb-3 d-flex justify-content-between" *ngIf="MonthlySalaryOffer == 'Else'">
        <app-multiple-search-select (SelectedItemsChanged)="
            AboutYouForm.get('Else.Description')?.setValue($event)
          " [PlaceHolder]="'Description'" [class]="'col-md-12 mb-3'" [AllowSingleSelection]="true"
          [Data]="AboutYouService.Description"></app-multiple-search-select>
      </div>
    </div>
  </form>
</div>
 -->

<section class="addResume d-flex justify-content-center align-items-center">
  <div class="Post-Resume w-75 bg-white">
    <div class="w-100 d-block">
      <div
        class="d-flex justify-content-evenly align-items-center text-center fw-bold m-5 formSteps"
      >
        <div>
          <div
            matripple=""
            class="mat-ripple div-ripple mat-focus-indicator"
          ></div>
          <div
            class="mat-step-icon mat-step-icon-selected mat-step-icon-state-number"
          >
            <div class="mat-step-icon-content"></div>
          </div>
          <div
            class="mat-step-label mat-step-label-active mat-step-label-selected"
          >
            <div class="position-icon stepper-active-border ng-star-inserted">
              <img
                src="https://cdn.helperplace.com/icons/user-data.svg"
                width="35px"
              />
            </div>
            <div class="mat-step-text-label ng-star-inserted">
              1 Job <br class="ng-star-inserted" />
              Requirment
            </div>
          </div>
        </div>
        <div
          class="mat-stepper-horizontal-line ng-tns-c3676410898-30 ng-star-inserted"
        ></div>
        <div
          role="tab"
          class="div mat-primary ng-tns-c3676410898-30 mat-horizontal-stepper-header ng-star-inserted"
          tabindex="-1"
          id="cdk-step-label-0-1"
          aria-posinset="2"
          aria-setsize="4"
          aria-controls="cdk-step-content-0-1"
          aria-selected="false"
          aria-disabled="true"
        >
          <div
            matripple=""
            class="mat-ripple div-ripple mat-focus-indicator"
          ></div>
          <div class="mat-step-icon mat-step-icon-state-number">
            <div class="mat-step-icon-content"></div>
          </div>
          <div class="mat-step-label">
            <div class="position-icon ng-star-inserted">
              <img
                src="https://cdn.helperplace.com/icons/briefcase.svg"
                width="35px"
              />
            </div>
            <div class="mat-step-text-label ng-star-inserted">
              About<br class="ng-star-inserted" />
              You
            </div>
          </div>
        </div>
        <div
          class="mat-stepper-horizontal-line ng-tns-c3676410898-30 ng-star-inserted"
        ></div>
        <div
          role="tab"
          class="div mat-primary ng-tns-c3676410898-30 mat-horizontal-stepper-header ng-star-inserted"
          tabindex="-1"
          id="cdk-step-label-0-2"
          aria-posinset="3"
          aria-setsize="4"
          aria-controls="cdk-step-content-0-2"
          aria-selected="false"
          aria-disabled="true"
        >
          <div
            matripple=""
            class="mat-ripple div-ripple mat-focus-indicator"
          ></div>
          <div class="mat-step-icon mat-step-icon-state-number">
            <div class="mat-step-icon-content"></div>
          </div>
          <div class="mat-step-label">
            <div class="position-icon ng-star-inserted">
              <img
                src="https://cdn.helperplace.com/icons/scholarship.svg"
                width="35px"
              />
            </div>
            <div class="mat-step-text-label ng-star-inserted">
              Job &amp;<br class="ng-star-inserted" />
              Detail
            </div>
          </div>
        </div>
        <div
          class="mat-stepper-horizontal-line ng-tns-c3676410898-30 ng-star-inserted"
        ></div>
        <div
          role="tab"
          class="div mat-primary ng-tns-c3676410898-30 mat-horizontal-stepper-header ng-star-inserted"
          tabindex="-1"
          id="cdk-step-label-0-3"
          aria-posinset="4"
          aria-setsize="4"
          aria-controls="cdk-step-content-0-3"
          aria-selected="false"
          aria-disabled="true"
        >
          <div
            matripple=""
            class="mat-ripple div-ripple mat-focus-indicator"
          ></div>
          <div class="mat-step-icon mat-step-icon-state-number">
            <div class="mat-step-icon-content"></div>
          </div>
          <!-- <div class="mat-step-label">
            <div class="position-icon ng-star-inserted">
              <img src="https://cdn.helperplace.com/icons/info.svg" width="35px" />
            </div>
            <div class="mat-step-text-label ng-star-inserted">
              About<br class="ng-star-inserted" />
              You
            </div>
          </div> -->
        </div>
      </div>

      <form [formGroup]="AboutYouForm" class="" enctype="multipart/form-data">
        <h1 class="fs-4 bg-blue">About you</h1>
        <div
          class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-4 emp_type ng-star-inserted m-5"
        >
          <p class="subtitle">Employer type *</p>
          <div class="position-container">
            <div class="card-direction">
              <div *ngFor="let option of AboutYouService.EmployerType;index as i">
                <label
                  (click)="selectEmployerType(i)"
                  [ngClass]="{'clickedEmployerType':selectedEmployerType==i}"
                  class="domestic-driver-card ng-star-inserted"
                  [for]="option.type"
                  [class]="'option ' + option.type"
                >
                  <div class="img-cover">
                    <img
                      alt="quixote"
                      width="60px"
                      class="img-fluid"
                      [src]="option.imgSrc"
                    />
                  </div>
                  <input
                    (change)="
                      AboutYouForm.controls['EmployerType'].setValue(
                        option.type
                      );
                      EmployerType = option.type;
                      updateemployervalidation(option.type)
                    "
                    type="radio"
                    [name]="'EmployerType'"
                    [value]="option.type"
                    [id]="option.type"
                    class="d-none ng-untouched ng-pristine ng-invalid"
                  />
                  <div class="desc">
                    <span>{{ option.type }}</span>
                  </div>
                </label>
              </div>
            </div>
          </div>
          <div class="col-md-6 mb-3" *ngIf="EmployerType == 'Family'">
            <div class="d-flex justify-content-between">
              <app-multiple-search-select (SelectedItemsChanged)="
                  AboutYouForm.get('Family.FamilyType')?.setValue($event);
                " [class]="'col-md-5 mb-3'" [Data]="AboutYouService.FamilyType" [AllowSingleSelection]="true"
                [PlaceHolder]="'Family type'"></app-multiple-search-select>
              <app-multiple-search-select (SelectedItemsChanged)="
                  AboutYouForm.get('Family.Nationality')?.setValue($event)
                " [class]="'col-md-5 mb-3'" [Data]="AboutYouService.Countries" [AllowSingleSelection]="true"
                [PlaceHolder]="'Nationality'"></app-multiple-search-select>
            </div>
            <app-slide-toggle (ValueChanged)="AboutYouForm.get('Family.HavePets')?.setValue($event)"
              [PlaceHolder]="'Do you have pets ?'"></app-slide-toggle>
          </div>      
          <div>
            <app-slide-toggle
              (ValueChanged)="
                AboutYouForm.controls['ReceiveByEmail'].setValue($event);
                ReceiveByEmail = !ReceiveByEmail;
                updateReceiveByMailValidation()
              "
              [PlaceHolder]="'Do you want to receive by email'"
            ></app-slide-toggle>
          </div>
          <br>
          <div *ngIf="ReceiveByEmail">
            <mdb-form-control class="p-2 col-md-6 mb-3">
              <input formControlName="Email" mdbInput name="Email" type="email" id="form1" class="form-control" />
              <label mdbLabel class="form-label" for="form1">Email </label>
            </mdb-form-control>
          </div>        
        </div>
        <h1 class="fs-4 bg-blue">What do you offer to the right candidates?</h1>
        <div class="m-5">
          <div class="direction day-off ml-3 mt-4">
            <div class="me-3">
              <img
                src="https://cdn.helperplace.com/icons/deck-chair.svg"
                width="32px"
              />
            </div>
            <div class="col-11 col-sm-5 col-md-5 col-lg-5 col-xl-5">
              <app-multiple-search-select
                (SelectedItemsChanged)="
                  AboutYouForm.controls['DayOFF'].setValue($event)
                "
                [Data]="AboutYouService.DayOff"
                [AllowSingleSelection]="true"
                [PlaceHolder]="'Day Off'"
              ></app-multiple-search-select>
            </div>
          </div>
          <div class="direction day-off ml-3 mt-4">
            <div class="me-3">
              <img
                src="	https://cdn.helperplace.com/icons/accomodation.svg"
                width="32px"
              />
            </div>
            <div class="col-11 col-sm-5 col-md-5 col-lg-5 col-xl-5">
              <app-multiple-search-select
                (SelectedItemsChanged)="
                  AboutYouForm.controls['Accomodation'].setValue($event)
                "
                [Data]="AboutYouService.Accomodation"
                [AllowSingleSelection]="true"
                [PlaceHolder]="'Accomodation'"
              ></app-multiple-search-select>
            </div>
          </div>
          <div class="d-flex justify-content-start align-items-center mt-3">
            <div style="margin-left: -2px" class="me-3">
              <img
                src="https://cdn.helperplace.com/icons/salary.svg"
                width="30px"
              />
            </div>
            <div class="ml-3">
              <label class="subtitle">Monthly Salary Offer *</label>
            </div>
          </div>
          <div class="wrapper">
            <div *ngFor="let option of AboutYouService.SalaryOffer">
              <input
                type="radio"
                (change)="updatesalaryvalidation(option)"
                [name]="'SalaryOffer'"
                [value]="option"
                [id]="option"
                (change)="
                  AboutYouForm.controls['MonthlySalaryOffer'].setValue(option);
                  MonthlySalaryOffer = option
                "
              />
              <label [for]="option" [class]="'option ' + option">
                <span style="font-size: 15px">{{ option }}</span>
              </label>
            </div>
            <br>
            <br>
            <div class="col-md-12 mb-3 d-flex justify-content-between" *ngIf="MonthlySalaryOffer == 'Fix'">
              <mdb-form-control formGroupName="Fix">
                <input formControlName="MonthlySalary" mdbInput name="Salary" type="number" id="form1" class="form-control" />
                <label mdbLabel class="form-label" for="form1">Monthly Salary </label>
              </mdb-form-control>
              <app-multiple-search-select (SelectedItemsChanged)="
                  AboutYouForm.get('Fix.Currency')?.setValue($event)
                " [class]="'col-md-5 mb-3'" [Data]="AboutYouService.Currency" [AllowSingleSelection]="true"
                [PlaceHolder]="'Currency'"></app-multiple-search-select>
            </div>
            <div class="col-md-12 mb-3 d-flex justify-content-between" *ngIf="MonthlySalaryOffer == 'Range'"
              formGroupName="Range">
              <mdb-form-control class="col-md-3 mb-3">
                <input formControlName="MaxSalary" mdbInput name="Max Salary" type="number" id="form1" class="form-control" />
                <label mdbLabel class="form-label" for="form1">Max Salary </label>
              </mdb-form-control>
              <mdb-form-control class="col-md-3 mb-3">
                <input formControlName="MinSalary" mdbInput name="Min Salary" type="number" id="form1" class="form-control" />
                <label mdbLabel class="form-label" for="form1">Min Salary </label>
              </mdb-form-control>
              <app-multiple-search-select (SelectedItemsChanged)="
                  AboutYouForm.get('Range.Currency')?.setValue($event)
                " [class]="'class=col-md-4 mb-3'" [Data]="AboutYouService.Currency" [AllowSingleSelection]="true"
                [PlaceHolder]="'Currency'"></app-multiple-search-select>
            </div>
            <div class="col-md-12 mb-3 d-flex justify-content-between" *ngIf="MonthlySalaryOffer == 'Else'">
              <app-multiple-search-select (SelectedItemsChanged)="
                  AboutYouForm.get('Else.Description')?.setValue($event)
                " [PlaceHolder]="'Description'" [class]="'col-md-12 mb-3'" [AllowSingleSelection]="true"
                [Data]="AboutYouService.Description"></app-multiple-search-select>
            </div>      
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
