div {
  margin-bottom: 3px;
}
#main {
  background-color: whitesmoke;
  padding: 15px;
  border-radius: 5px;
}
.bluecolor {
  color: #054a84;
  font-weight: 600;
}

a.res {
  text-decoration: none;
  color: green;
  cursor: pointer;
}



input[type="radio"]:checked + label,
input[type="checkbox"]:checked + label {
  color: green;
  font-weight: bold;
}





@media (max-width:1000px) {
  .filterRes{
    display: none;
  }
  .filterPopUp{
    display: block !important;
  }
}

.modal-body {
  max-height: 100vh; 
  overflow-y: auto;
}