div{
  margin-bottom: 3px;
}
#main{
  background-color: whitesmoke;
  padding: 15px;
  border-radius: 5px;
}
.bluecolor{
color: #054a84;
  font-weight: 600
}

a.res{
  text-decoration: none;
  color: green;
  cursor: pointer;
}

.filterPopUp{
  display: none;
}

@media (max-width:1000px) {
  .filter{
    display: none;
  }
  .filterPopUp{
    display: block;
  }
}
