<div class="filter mt-5">
  <div id="main" class="border border-opacity-25 border-black p-4">
    <div class="mt-5">
      <h3 class="bluecolor mb-4">I am looking for</h3>
    </div>
    <div class="d-flex justify-content-between align-items-center mb-3">
      <div class="bluecolor">Filter</div>
      <div class="">
        <a class="res d-flex" (click)="empty()">
          <fa-icon [icon]="faRotate"></fa-icon>Reset</a
        >
      </div>
    </div>
    <div class="">
      <div class="bluecolor">Job Position</div>
    </div>
    <div
      class="greencolor"
      style="height: 3px; background-color: green; margin-block: 14px"
    ></div>
    <div>
      <input
        id="helper"
        type="radio"
        name="position"
        value="Helper"
        class="me-3"
        (change)="filt()"
        [(ngModel)]="testingfilter.Position"
      />
      <label for="helper">Domestic helper</label><br />

      <input
        id="driver"
        type="radio"
        name="position"
        value="Driver"
        class="me-3"
        (change)="filt()"
        [(ngModel)]="testingfilter.Position"
      />
      <label for="driver">Driver</label><br />
    </div>
    <div class="">
      <div class="mt-3 bluecolor">Start Date</div>
    </div>
    <div class="">
      <div class="mb-3">
        <input
          type="date"
          class="form-control"
          (change)="filt()"
          [(ngModel)]="testingfilter.StartDate"
        />
      </div>
    </div>
    <div class="">
      <div class="bluecolor">Job Type</div>
    </div>
    <div
      class="greencolor"
      style="height: 3px; background-color: green; margin-block: 14px"
    ></div>
    <div>
      <input
        id="full-time"
        type="radio"
        name="jobtype"
        value="full-time"
        class="me-3"
        (change)="filt()"
        [(ngModel)]="testingfilter.Jobtype"
      />
      <label for="full-time">Full time</label><br />

      <input
        id="part-time"
        type="radio"
        name="jobtype"
        value="part-time"
        class="me-3"
        (change)="filt()"
        [(ngModel)]="testingfilter.Jobtype"
      />
      <label for="part-time">Part time</label><br />

      <input
        id="temporary"
        type="radio"
        name="jobtype"
        value="temporary"
        class="me-3"
        (change)="filt()"
        [(ngModel)]="testingfilter.Jobtype"
      />
      <label for="temporary">Temporary</label><br />
    </div>
    <div class="">
      <div class="bluecolor">Working Experience</div>
    </div>
    <div
      class="greencolor"
      style="height: 3px; background-color: green; margin-block: 14px"
    ></div>
    <div class="">
      <div class="">
        <input
          type="number"
          class="form-control"
          placeholder="experience period"
          (change)="filt()"
          [(ngModel)]="testingfilter.Workexperience"
          max="40"
        />
      </div>
    </div>
    <div class="">
      <div class="bluecolor">Language</div>
    </div>
    <div class="">
      <div class="">
        <ng-multiselect-dropdown
          [placeholder]="'language'"
          [settings]="dropdownSettings"
          [data]="languageDropdownList"
          [(ngModel)]="languageSelectedItems"
          (onSelect)="onItemSelect($event)"
          (onDeSelect)="onItemDeselect($event)"
          (onSelectAll)="onSelectAll($event)"
          (onDeSelectAll)="onDeselectAll($event)"
        >
        </ng-multiselect-dropdown>
      </div>
    </div>
    <div class="mt-3">
      <div class="bluecolor">Main Skills</div>
    </div>
    <div class="mb-3">
      <div class="">
        <ng-multiselect-dropdown
          [placeholder]="'Main Skills'"
          [settings]="dropdownSettings"
          [data]="skillsDropdownList"
          [(ngModel)]="skillsSelectedItems"
          (onSelect)="onItemSelect2($event)"
          (onDeSelect)="onItemDeselect2($event)"
          (onSelectAll)="onSelectAll2($event)"
          (onDeSelectAll)="onDeselectAll2($event)"
        >
        </ng-multiselect-dropdown>
      </div>
    </div>
    <div class="">
      <div class="bluecolor">Gender</div>
    </div>
    <div
      class="greencolor"
      style="height: 3px; background-color: green; margin-block: 14px"
    ></div>
    <div>
      <input
        id="male"
        type="radio"
        name="gender"
        class="me-3"
        value="Male"
        (change)="filt()"
        [(ngModel)]="testingfilter.Gender"
      />
      <label for="male">Male</label><br />

      <input
        id="female"
        type="radio"
        name="gender"
        class="me-3"
        value="Female"
        (change)="filt()"
        [(ngModel)]="testingfilter.Gender"
      />
      <label for="female">Female</label><br />
    </div>
    <div class="">
      <div class="bluecolor">Age</div>
    </div>
    <div
      class="greencolor"
      style="height: 3px; background-color: green; margin-block: 14px"
    ></div>
    <div class="">
      <div class="">
        <input
          type="number"
          class="form-control"
          placeholder="enter age"
          (change)="filt()"
          [(ngModel)]="testingfilter.Age"
          min="18"
          max="60"
        />
      </div>
    </div>
  </div>
</div>
