.Post-Resume
{
    display: flex;
    justify-content: center;
    padding-bottom: 10%;
}
.Post-Resume-Form
{
    margin: 2.5%;
    width: 70%;
}
h1,h3
{
  color: white;
  margin: 2.5% 0%;
  padding: 1% 2%;
}
h1
{
  background-color: rgb(81, 81, 199);
}
h3
{
  background-color: rgb(105, 105, 113);
}
.wrapper{
  display: flex;
  background: #fff;
  height: 75px;
  width: 450px;
  align-items: center;
  justify-content:flex-start;
  border-radius: 5px;
  padding: 20px 0;
}
.wrapper .option{
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-right: 10px;
  border-radius: 5px;
  cursor: pointer;
  padding: 0 10px;
  border: 2px solid lightgrey;
  transition: all 0.3s ease;
}
input[type="radio"]{
  display: none;
}
#option-1:checked:checked ~ .option-1,
#option-2:checked:checked ~ .option-2,
#option-3:checked:checked ~ .option-3,
#Male:checked:checked ~ .Male,
#Female:checked:checked ~ .Female,
#Any:checked:checked ~ .Any,
#Domestic-Helper:checked:checked ~ .Domestic-Helper,
#Driver:checked:checked ~ .Driver,
#Family:checked:checked ~ .Family,
#Company:checked:checked ~ .Company,
#Other:checked:checked ~ .Other,
#Fix:checked:checked ~ .Fix,
#Range:checked:checked ~ .Range,
#Else:checked:checked ~ .Else,
#Dont-Mention:checked:checked ~ .Dont-Mention
{
  border-color: #7b7c7d;
  background: #7b7c7d;
}  
#option-1:checked:checked ~ .option-1 span,
#option-2:checked:checked ~ .option-2 span,
#option-3:checked:checked ~ .option-3 span,
#Male:checked:checked ~ .Male span,
#Female:checked:checked ~ .Female span,
#Any:checked:checked ~ .Any span,
#Domestic-Helper:checked:checked ~ .Domestic-Helper span,
#Driver:checked:checked ~ .Driver span,
#Family:checked:checked ~ .Family span,
#Company:checked:checked ~ .Company span,
#Other:checked:checked ~ .Other span,
#Fix:checked:checked ~ .Fix span,
#Range:checked:checked ~ .Range span,
#Else:checked:checked ~ .Else span,
#Dont-Mention:checked:checked ~ .Dont-Mention span
{
  color: #fff;
}

