*{
  font-weight: 700;
}
#main{
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}

#trian{
  width: 120px;
  height: 30px;
  background-color: lightblue;
  margin-left: 0;
  position: relative;

}
#trian::after{
  content: "";
  width: 0px;
  height: 0px;
  border-top: 15px solid lightblue;
  border-bottom: 15px solid lightblue;
  border-left: 15px solid lightblue;
  border-right: 15px solid transparent;

  /* background-color:black ; */
  position: absolute;
  right: -30px;
}
