<!-- pagination -->

<mat-paginator
  [length]="count"
  [pageSize]="10"
  [pageSizeOptions]="[5, 10, 25, 100]"
  (page)="pageChange($event)"
>
</mat-paginator>

<!-- <div>{{myownfiltered[2].Name}}</div> -->

<ng-container *ngFor="let item of myownfiltered">
  <!-- <div>{{item|json}}</div>
<br>
<img [src]="'https://localhost:44376'+item.photoURL " alt="image" style="width: 150px;height: 150px;" class="rounded-circle m-2">
<div>{{item.photoURL}}</div> -->

  <div class="row rounded" id="main">
    <div class="row">
      <div class="col-md-3 ">
        <img
          [src]="env + item.photoURL"
          alt="image"
          style="width: 150px; height: 150px"
          class="rounded-circle m-2"
        />
      </div>
      <div class="col-9">
        <div class="row mt-md-3 mb-1">
          <h4 class="col-4" style="color: #054a84">
            {{ item.name }} {{ item.age }}
          </h4>
        </div>
        <div class="row mb-2">
          <div class="col-md-4" style="color: darkgray">
            {{ item.position }}
          </div>
          <div class="col-md-2" style="color: darkgray">
            <i class="fa-solid fa-location-dot"></i> {{ item.location }}
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 mb-3">
            <div class="col-md-12 mb-3">
              <p style="max-width: 95%; word-wrap: break-word">
                {{ item.description }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 px-0">
        <div id="trian" class="text-center">Direct</div>
      </div>
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-4" style="color: #054a84">
            <i class="fa-solid fa-hourglass-start"></i>
            {{ item.workexperience }}
            years
          </div>
          <div class="col-md-4" style="color: #054a84">
            <i class="fa-solid fa-calendar-days"></i>
            {{ handleDate(item.startDate).toLocaleDateString() }}
          </div>
          <div
            class="col-md-4"
            style="color: #25ae88; cursor: pointer"
            (click)="navigateToDetails(item.id)"
          >
            <i class="fa-solid fa-circle"></i> details
          </div>
        </div>
      </div>
    </div>
  </div>
  <br />
</ng-container>
>
