<div class="container my-5">
  <!-- Icon -->
  <div class="title title2 powerful-feature-header">
    <img
      loading="lazy"
      alt="helperPlane Logo"
      width="45px"
      height="45px"
      class="img-fluid title-img"
      src="../../../assets/Images/logo.svg"
    />
    <div class="heatTitleContain borders main-text position-relative my-3">
      <span class="heatTitle">FEATURE</span>
    </div>
    <div class="title title2">
      <div class="sub-title">
        <h2 class="section-header text-capitalize text-center">
          Search And Find
        </h2>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 col-md-5 col-sm-12 marginCards">
      <div class="card text-center px-4 py-4">
        <img
          src="../../../assets/Images/home/features/f1.png"
          class="card-img-top rounded mx-auto d-block"
          alt="HelperPlace Logo"
          style="width: 80px; height: 80px"
        />
        <div class="card-body">
          <h5 class="card-title">Fast and secure</h5>
          <p class="card-text">
            No Middleman and more choices. Transparent, trustworthy,
            facilitating and ethical platform. Control by yourself all the
            hiring process.
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-5 col-sm-12 marginCards">
      <div class="card text-center px-4 py-4">
        <img
          src="../../../assets/Images/home/features/f2.png"
          class="card-img-top rounded mx-auto d-block"
          alt="Fast and Secure"
          style="width: 80px; height: 80px"
        />
        <div class="card-body">
          <h5 class="card-title">For Employers</h5>
          <p class="card-text">No Middleman and more choices.</p>
          <p class="card-text">
            Transparent, trustworthy, facilitating and ethical platform.
          </p>
          <p class="card-text">Control by yourself all the hiring process.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-5 col-sm-12 marginCards">
      <div class="card text-center px-4 py-4">
        <img
          src="../../../assets/Images/home/features/f3.png"
          class="card-img-top rounded mx-auto d-block"
          alt="HelperPlace Feature"
          style="width: 100px; height: 100px"
        />
        <div class="card-body">
          <h5 class="card-title">For Helpers</h5>
          <p class="card-text">
            Get visibility to find a new employer and get a better job. Easy
            application and 100% Free (no placement fees, no salary deduction)
          </p>
          <p class="card-text">Interview and hire with no stress.</p>
        </div>
      </div>
    </div>
  </div>
</div>
