<section class="resume">
  <div class="container">
    <div class="row">
      <div class="candidateResume bg-white col-lg-9 col-md-12 col-sm-11">
        <div class="bgImg w-100 position-relative">
          <img
            src="../../../../../assets/Images/resume-lg.jpg"
            alt=""
            width="100%"
            class="rounded-top-3"
          />
          <div class="label">very Active</div>
          <div class="img">
            <img
              src="../../../../assets/Images/female-icon.png"
              alt="image"
              style="width: 120px; height: 120px"
              class="rounded-circle m-2"
            />
          </div>
        </div>
        <div class="resumeInfo">
          <h4 class="" style="color: #054a84; margin: 10px 0 0 150px">
            {{ Job.jobRequirments.basicInformation.positionOffered }}
          </h4>
          <div class="d-flex justify-content-between align-items-center">
            <div
              class="fs-6"
              style="color: black; margin: 10px 0 0 150px; width: 80%"
            >
              Starting From {{ Job.jobRequirments.basicInformation.startDate }}
              <br />
              |&nbsp;{{ Job.jobRequirments.basicInformation.type }}
            </div>

            <div class="">
              <button class="btn bg-green text-white me-3">Apply</button>
            </div>
          </div>
          <div
            class="directShap d-flex justify-content-center align-items-center p-2"
          >
            Direct
          </div>
          <div class="sprator pt-3 pb-2 my-1">
            <h5 class="ms-5">professional info</h5>
          </div>

          <div
            class="row py-3 personal-infomation d-flex justify-content-between fs-6"
          >
            <div class="col-11 mx-auto">
              <div class="row">
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                  <div class="footer-experience d-flex justify-content-start">
                    <div name="user" class="me-3">
                      <i class="fa-solid fa-user green"></i>
                    </div>
                    <p>
                      {{ Job.jobRequirments.candidatePreference.gender }} |
                      Gender Required
                    </p>
                  </div>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                  <div class="footer-experience d-flex justify-content-start">
                    <div name="map" class="me-3">
                      <i class="fa-solid fa-location-pin green"></i>
                    </div>
                    <p>
                      {{ Job.aboutYou.offersToCandidate.accomodation }}
                    </p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                  <div class="footer-experience d-flex justify-content-start">
                    <div name="certificate" class="me-3 mb-3">
                      <i class="fa-solid fa-star-of-life green"></i>
                    </div>
                    {{
                      Job.jobRequirments.candidatePreference
                        .preferedCandidateLocation
                    }}
                  </div>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                  <div class="footer-experience d-flex justify-content-start">
                    <div name="calendar" class="me-3 mb-3">
                      <i class="fa-solid fa-calendar-days green"></i>
                    </div>
                    <span class="fw-bold"> Day Off: &ThinSpace; </span>
                    {{ Job.aboutYou.offersToCandidate.dayOFF }}
                  </div>
                </div>
              </div>

              <div class="row mb-3">
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                  <div class="footer-experience d-flex justify-content-start">
                    <div name="calendar" class="me-3">
                      <i class="fa-solid fa-file green"></i>
                    </div>
                    <span class="fw-bold"> Contract Status : </span>
                    {{
                      Job.jobRequirments.candidatePreference
                        .preferedCandidateContract
                    }}
                  </div>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                  <div class="footer-experience d-flex justify-content-start">
                    <div name="calendar" class="me-3">
                      <i class="fa-brands fa-slack green"></i>
                    </div>
                    <span class="fw-bold">
                      experience year :
                      {{
                        Job.jobRequirments.candidatePreference
                          .experienceYearsRequired[0]
                      }}
                      to
                      {{
                        Job.jobRequirments.candidatePreference
                          .experienceYearsRequired[1]
                      }}
                    </span>
                  </div>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                  <div class="footer-experience d-flex justify-content-start">
                    <div name="calendar" class="me-3">
                      <i class="fa-solid fa-phone green"></i>
                    </div>
                    <span class="fw-bold">
                      age:
                      {{
                        Job.jobRequirments.candidatePreference.ageRequired[0]
                      }}
                      to
                      {{
                        Job.jobRequirments.candidatePreference.ageRequired[1]
                      }}
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="sprator pt-3 pb-2 my-1">
          <h5 class="ms-5">Job Description</h5>
        </div>
        <div class="mx-5">
          <h5 class="fw-bold" style="color: #054a84; margin-bottom: 20px">
            {{ Job.jobDetails.jobTitle }}
          </h5>

          <p class="fw-medium fs-5">
            We are new to Singapore and looking for a helper to assist with
            housekeeping, greeting children on arrival home via the school bus,
            cooking dinner and getting children ready for bed. My husband and I
            work long hours so need someone to assist with car.
          </p>
        </div>

        <div class="sprator pt-3 pb-2 my-1">
          <h5 class="ms-5">Skills / Duties</h5>
        </div>

        <div class="row yoga mt-3 event">
          <div class="col-11">
            <div class="col-11 phone_pedding mx-auto">
              <div
                class="event-container event-container_footer_margin_custom d-flex"
              >
                <div class="yoga-circle">
                  <img
                    loading="lazy"
                    width="100%"
                    height="auto"
                    class=""
                    src="https://cdn.helperplace.com/skill_cat/1_1599642484.webp"
                    alt="https://cdn.helperplace.com/skill_cat/1_1599642484.webp"
                  />
                </div>
                <div class="event-info">
                  <h3 class="primary">Language:</h3>
                  <div class="d-flex justify-content-start align-items-center">
                    <ng-container
                      *ngFor="
                        let lang of Job.jobRequirments.requiredSkillsAndDuties
                          .languageSkills
                      "
                    >
                      <h4 class="color_1 ng-star-inserted">{{ lang }}</h4>
                    </ng-container>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-11">
            <div class="col-11 phone_pedding mx-auto">
              <div
                class="event-container event-container_footer_margin_custom d-flex"
              >
                <div class="yoga-circle">
                  <img
                    loading="lazy"
                    width="100%"
                    height="auto"
                    class=""
                    src="https://cdn.helperplace.com/skill_cat/4_1599643968.webp"
                    alt="https://cdn.helperplace.com/skill_cat/4_1599643968.webp"
                  />
                </div>
                <div class="event-info">
                  <h3 class="primary ar">Main Skills:</h3>
                  <div class="d-flex justify-content-start align-items-center">
                    <ng-container
                      *ngFor="
                        let skill of Job.jobRequirments.requiredSkillsAndDuties
                          .mainSkills
                      "
                    >
                      <h4 class="float-left color_2 ng-star-inserted">
                        {{ skill }}
                      </h4>
                    </ng-container>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-11">
            <div class="col-11 phone_pedding mx-auto">
              <div
                class="event-container event-container_footer_margin_custom d-flex"
              >
                <div class="yoga-circle">
                  <img
                    loading="lazy"
                    width="100%"
                    height="auto"
                    class=""
                    src="https://cdn.helperplace.com/skill_cat/2_1599644151.webp"
                    alt="https://cdn.helperplace.com/skill_cat/2_1599644151.webp"
                  />
                </div>
                <div class="event-info">
                  <h3 class="primary ar">Cooking Skills:</h3>
                  <div class="d-flex justify-content-start align-items-center">
                    <h4 class="float-left color_3 ng-star-inserted">Asian</h4>
                    <h4 class="float-left color_3 ng-star-inserted">Chinese</h4>
                    <h4 class="float-left color_3 ng-star-inserted">Thai</h4>
                    <h4 class="float-left color_3 ng-star-inserted">
                      Singaporean
                    </h4>
                    <h4 class="float-left color_3 ng-star-inserted">Western</h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-11">
            <div class="col-11 phone_pedding mx-auto">
              <div
                class="event-container event-container_footer_margin_custom d-flex"
              >
                <div class="yoga-circle">
                  <img
                    loading="lazy"
                    width="100%"
                    height="auto"
                    class=""
                    src="https://cdn.helperplace.com/skill_cat/3_1599642528.webp"
                    alt="https://cdn.helperplace.com/skill_cat/3_1599642528.webp"
                  />
                </div>
                <div class="event-info">
                  <h3 class="primary ar">Other Skills:</h3>
                  <div class="d-flex justify-content-start align-items-center">
                    <ng-container
                      *ngFor="
                        let skill of Job.jobRequirments.requiredSkillsAndDuties
                          .cookingSkills
                      "
                    >
                      <h4 class="float-left color_4 ng-star-inserted">
                        {{ skill }}
                      </h4>
                    </ng-container>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="sprator pt-3 pb-2 my-1">
          <h5 class="ms-5">About Me</h5>
        </div>
        <div class="mt-1 mb-1 ms-4 me-4">
          <div class="row">
            <div class="col-6">
              <div>
                <span class="primary text-left">
                  Employer Type :
                  {{ Job.aboutYou.aboutYouSub.employerType.type }}</span
                >
              </div>
              <span class="primary text-left">
                Employer Nationality :
                {{ Job.aboutYou.aboutYouSub.employerType.nationality }}
              </span>
            </div>

            <div class="col-6">
              <div class="">
                <h3 class="primary text-left mb-0">
                  <span class="ng-star-2"
                    >Have Pets :
                    {{ Job.aboutYou.aboutYouSub.employerType.havePets }}</span
                  >
                </h3>
                <div class="d-flex align-items-center justify-content-start">
                  <!-- <h3 class="ng-2"> Accomodation : {{ Job.aboutYou.offersToCandidate.accomodation }}</h3> -->
                  <div name="map m-0" class="icons">
                    <!-- <i class="fa-solid fa-location-dot green mx-2"></i> -->
                  </div>
                  <span class="location-span mb-0 ng-star-2">
                    <!-- Holiday : {{ Job.aboutYou.offersToCandidate.dayOFF }} -->
                  </span>
                </div>
                <p class="text-left mb-1">Canadian Family</p>
                <p class="text-left mb-1 ng-star-2">
                  Salary :
                  {{ Job.aboutYou.offersToCandidate.monthlySalaryOffer.title }}
                </p>
                <p class="text-left mb-1 ng-star-2">
                  <!-- {{ getref(ex.hasLetterRef) }} -->
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 rigthSec" style="margin: 60px 0">
        <div
          class="card helperCard px-2"
          *ngFor="let item of randomJobs"
          (click)="navigateToDetails(item.id)"
        >
          <div class="d-flex justify-content-center align-items-center">
            <div class="">
              <div class="rounded-circle overflow-hidden containImg">
                <img
                  src="../../assets/Images/family_images/Family.png"
                  class="img-fluid rounded-start"
                  alt="helper-phone"
                  width="100"
                />
              </div>
            </div>
            <div class="">
              <div class="card-body">
                <h5 class="card-title text-info m-0">
                  {{ item.jobRequirments.basicInformation.positionOffered }}
                </h5>
                <ul
                  class="list-unstyled mt-4 d-flex flex-column justify-content-center"
                >
                  <li class="card-text" style="color: #25ae88">
                    <i class="fa-solid fa-location-dot"></i
                    ><span class="text-black">{{
                      item.jobRequirments.basicInformation.location
                    }}</span>
                  </li>
                  <li class="card-text" style="color: #25ae88">
                    <i class="fa-solid fa-star-of-life"></i>
                    <span class="text-black">{{
                      item.jobRequirments.basicInformation.type
                    }}</span>
                  </li>
                  <li class="card-text" style="color: #25ae88">
                    <i class="fa-solid fa-calendar-days"></i
                    ><span class="text-black">{{
                      item.jobRequirments.basicInformation.startDate
                        | date : "MMMM yyyy"
                    }}</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
