<section class="resume">
  <div class="container">
    <div class="row">
      <div class="candidateResume bg-white col-lg-8 col-md-12 col-sm-11">
        <div class="cover">
          <div class="label">very Active</div>
          <div class="img">
            <img
              src="../../../../assets/Images/female-icon.png"
              alt="image"
              style="width: 120px; height: 120px"
              class="rounded-circle m-2"
            />
          </div>
        </div>
        <div class="resumeInfo">
          <h4 class="" style="color: #054a84; margin: 10px 0 0 150px">
            {{ Job.jobRequirments.basicInformation.positionOffered }}
          </h4>
          <div class="d-flex justify-content-between align-items-center">
            <div class="" style="color: black; margin: 10px 0 0 140px">
              {{ Job.jobDetails.jobTitle }}
            </div>
            <div class="" style="color: black; margin: 10px 0 0">
              {{ Job.jobRequirments.basicInformation.type }}
            </div>
            <div class="" style="color: black; margin: 10px 0 0">
              Starting From {{ Job.jobRequirments.basicInformation.startDate }}
            </div>
            <div class="">
              <button class="btn bg-green text-white me-3">Apply</button>
            </div>
          </div>
          <div
            class="directShap d-flex justify-content-center align-items-center p-2"
          >
            Direct
          </div>
          <div class="sprator p-1 my-4">
            <h5 class="ms-5">professional info</h5>
          </div>

          <div
            class="row py-3 personal-infomation d-flex justify-content-center"
          >
            <div class="col-11 mx-auto">
              <div class="row">
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                  <h5 class="footer-experience d-flex justify-content-start">
                    <div name="user" class="me-3">
                      <i class="fa-solid fa-user green"></i>
                    </div>
                    <p>
                      {{ Job.jobRequirments.candidatePreference.gender }} Gender
                      Required
                    </p>
                  </h5>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                  <h5 class="footer-experience d-flex justify-content-start">
                    <div name="map" class="me-3">
                      <i class="fa-solid fa-location-pin green"></i>
                    </div>
                    <p>
                      Contract Type :
                      {{
                        Job.jobRequirments.candidatePreference
                          .preferedCandidateContract
                      }}
                    </p>
                  </h5>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                  <h5 class="footer-experience d-flex justify-content-start">
                    <div name="certificate" class="me-3">
                      <i class="fa-solid fa-star-of-life green"></i>
                    </div>
                    It is prefered if candidate is
                    {{
                      Job.jobRequirments.candidatePreference
                        .preferedCandidateLocation
                    }}
                  </h5>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6"></div>
              </div>
            </div>
          </div>
        </div>

        <div class="sprator p-1 my-4">
          <h5 class="ms-5">Skills / Duties</h5>
        </div>

        <div class="row yoga mt-3 event">
          <div class="col-11">
            <div class="col-11 phone_pedding mx-auto">
              <div
                class="event-container event-container_footer_margin_custom d-flex"
              >
                <div class="yoga-circle">
                  <img
                    loading="lazy"
                    width="100%"
                    height="auto"
                    class=""
                    src="https://cdn.helperplace.com/skill_cat/1_1599642484.webp"
                    alt="https://cdn.helperplace.com/skill_cat/1_1599642484.webp"
                  />
                </div>
                <div class="event-info">
                  <h3 class="primary">Language:</h3>
                  <div class="d-flex justify-content-start align-items-center">
                    <ng-container
                      *ngFor="
                        let lang of Job.jobRequirments.requiredSkillsAndDuties
                          .languageSkills
                      "
                    >
                      <h4 class="color_1 ng-star-inserted">{{ lang }}</h4>
                    </ng-container>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-11">
            <div class="col-11 phone_pedding mx-auto">
              <div
                class="event-container event-container_footer_margin_custom d-flex"
              >
                <div class="yoga-circle">
                  <img
                    loading="lazy"
                    width="100%"
                    height="auto"
                    class=""
                    src="https://cdn.helperplace.com/skill_cat/4_1599643968.webp"
                    alt="https://cdn.helperplace.com/skill_cat/4_1599643968.webp"
                  />
                </div>
                <div class="event-info">
                  <h3 class="primary ar">Main Skills:</h3>
                  <div class="d-flex justify-content-start align-items-center">
                    <ng-container
                      *ngFor="
                        let skill of Job.jobRequirments.requiredSkillsAndDuties
                          .mainSkills
                      "
                    >
                      <h4 class="float-left color_2 ng-star-inserted">
                        {{ skill }}
                      </h4>
                    </ng-container>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-11">
            <div class="col-11 phone_pedding mx-auto">
              <div
                class="event-container event-container_footer_margin_custom d-flex"
              >
                <div class="yoga-circle">
                  <img
                    loading="lazy"
                    width="100%"
                    height="auto"
                    class=""
                    src="https://cdn.helperplace.com/skill_cat/2_1599644151.webp"
                    alt="https://cdn.helperplace.com/skill_cat/2_1599644151.webp"
                  />
                </div>
                <div class="event-info">
                  <h3 class="primary ar">Cooking Skills:</h3>
                  <div class="d-flex justify-content-start align-items-center">
                    <h4 class="float-left color_3 ng-star-inserted">Asian</h4>
                    <h4 class="float-left color_3 ng-star-inserted">Chinese</h4>
                    <h4 class="float-left color_3 ng-star-inserted">Thai</h4>
                    <h4 class="float-left color_3 ng-star-inserted">
                      Singaporean
                    </h4>
                    <h4 class="float-left color_3 ng-star-inserted">Western</h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-11">
            <div class="col-11 phone_pedding mx-auto">
              <div
                class="event-container event-container_footer_margin_custom d-flex"
              >
                <div class="yoga-circle">
                  <img
                    loading="lazy"
                    width="100%"
                    height="auto"
                    class=""
                    src="https://cdn.helperplace.com/skill_cat/3_1599642528.webp"
                    alt="https://cdn.helperplace.com/skill_cat/3_1599642528.webp"
                  />
                </div>
                <div class="event-info">
                  <h3 class="primary ar">Other Skills:</h3>
                  <div class="d-flex justify-content-start align-items-center">
                    <ng-container
                      *ngFor="
                        let skill of Job.jobRequirments.requiredSkillsAndDuties
                          .cookingSkills
                      "
                    >
                      <h4 class="float-left color_4 ng-star-inserted">
                        {{ skill }}
                      </h4>
                    </ng-container>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="sprator p-1 my-4">
          <h5 class="ms-5">About Me</h5>
        </div>
        <div>
          <p class="text-center m-4">
            Employer Type : {{ Job.aboutYou.aboutYouSub.employerType.type }}
          </p>
          <ng-container
            *ngIf="Job.aboutYou.aboutYouSub.employerType.type == 'Family'"
          >
            <div
              class="col-11 phone_pedding mx-auto mb-5 ng-star-2 border-bottom"
            >
              <div
                class="event-container event-container_footer_margin_custom d-flex"
              >
                <!-- <div class="yoga-circle">
                  <picture class="">
                    <source
                      srcset="
                        https://cdn.helperplace.com/web-asset/images/icon/prize-badge-with-star-and-ribbon-black.png
                      "
                      width="35px"
                      height="35px"
                      media="(max-width:768px)"
                      class=""
                    />
                    <img
                      src="https://cdn.helperplace.com/web-asset/images/icon/prize-badge-with-star-and-ribbon-black.png"
                      width="40px"
                      height="40px"
                      loading="lazy"
                      alt="https://cdn.helperplace.com/web-asset/images/icon/prize-badge-with-star-and-ribbon-black.png"
                      class=""
                    />
                  </picture>
                </div> -->
                <div class="event-info text-left">
                  <h3 class="primary text-center mb-0">
                    Employer Nationality :
                    {{ Job.aboutYou.aboutYouSub.employerType.nationality }} -
                    <span class="ng-star-2"
                      >Have Pets :
                      {{ Job.aboutYou.aboutYouSub.employerType.havePets }}</span
                    >
                  </h3>
                  <br>
                </div>
              </div>
            </div>
          </ng-container>
          <p class="text-center m-4">
            Salary :
            {{ Job.aboutYou.offersToCandidate.monthlySalaryOffer.title }}
          </p>  
        </div>
        <div class="d-flex align-items-center justify-content-start">
          <h3 class="ng-2">
            Accomodation :
            {{ Job.aboutYou.offersToCandidate.accomodation }}
          </h3>
          <div name="map m-0" class="icons">
            <i class="fa-solid fa-location-dot green mx-2"></i>
          </div>
          <span class="location-span mb-0 ng-star-2">
            Holiday : {{ Job.aboutYou.offersToCandidate.dayOFF }}
          </span>
        </div>
      </div>

      <div class="col-lg-4 rigthSec" style="margin: 60px 0">
        <div class="card helperCard p-2">
          <div class="d-flex justify-content-center align-items-center">
            <div class="">
              <div class="rounded-circle overflow-hidden containImg">
                <img
                  src="../../assets/Images/3.jpg"
                  class="img-fluid rounded-start"
                  alt="helper-phone"
                  width="100"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
