<div class="container-fluid" style="background-image: url('../../../assets/Images/home/Helper.jpg');">
      <div class="content col-12">
            <h2>Looking for the best Domestic Helpers?</h2>
            <p>Easily connects Helpers and Employers</p>
            <button (click)="Helpers()">For Helpers</button>
            <button (click)="Candidates()">For Employers</button>
        </div>
      </div>

<app-home-carousel></app-home-carousel>
<app-home-features></app-home-features>
<app-our-community-section></app-our-community-section>
<app-home-places></app-home-places>
<app-more-connections-home-section></app-more-connections-home-section>
