<div class="collection-filter-block">
    <div class="top-banner-content small-section app-side-menu-ar">
        <div class="sidebar-container">
            <div class="product-page-filter">
                <div class="blog-side">
                    <div>
                        <p class="blog-title">More Information…</p>
                        <div class="sidebar-container borders">
                            <ul class="sidebar-list">
                                <li class="d-flex ng-star-inserted">
                                    <i aria-hidden="true" class="fa m-r-15 fa-angle-right me-2"></i> About Us
                                </li>
                                <li class="d-flex ng-star-inserted">
                                    <i aria-hidden="true" class="fa m-r-15 fa-angle-right me-2"></i> FAQ
                                </li>
                                <li class="d-flex ng-star-inserted">
                                    <i aria-hidden="true" class="fa m-r-15 fa-angle-right me-2"></i> Privacy Policy
                                </li>
                                <li class="d-flex ng-star-inserted">
                                    <i aria-hidden="true" class="fa m-r-15 fa-angle-right me-2"></i> Contact Us
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>