.collection-filter-block{
    padding: 15px;
    overflow: hidden;
    border: none;
}
body {
    font-family: proxima_nova_rgregular, Helvetica Neue, Helvetica, Arial, sans-serif;
    position: relative;
    font-size: 14px;
    color: #434345;
    overflow-x: hidden;
}
.sidebar-container {
    margin-bottom: 30px;
    display: inline-block;
    width: 100%;
}
.blog-title {
    font-size: calc(14px + 0*(100vw - 300px));
    padding-top: 5px;
    border-bottom: 3px solid #054a84;
    width: 25%;
}
.blog-title {
    position: relative;
    text-transform: uppercase;
    color: #054a84;
    margin-bottom: 30px;
    padding-bottom: 15px;
    letter-spacing: 1px;
    font-weight: 600;
    line-height: 1;
}
.sidebar-list li {
    padding: 10px;
    border-bottom: 1px solid #eee;
    position: relative;
}
.agency h2, .agency h3, .agency h4, .agency h5, .agency h6, .agency li, .agency a {
    font-weight: 500;
}
ul li {
    font-size: 14px;
}
h2, h3, h4, h5, h6, li, a {
    font-family: proxima_nova_rgregular, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 500;
    line-height: normal;
}
*, *:before, *:after {
    box-sizing: border-box;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
    color: black !important;
}
.sidebar-list li:hover{
    margin-left: 5px;
    transition: .5s;
}
.blog-title:hover{
    width: 50%;
    transition: 1.5s;
}