<div class="ng-star-inserted">
  <h2
    style="
      margin-top: 15pt;
      margin-bottom: 15pt;
      line-height: 1.7;
      font-size: 18pt;
      background-color: #ffffff;
    "
  >
    <span style="font-weight: normal; color: #054a84"
      >Privacy Policy - Helper Plan</span
    >
  </h2>
  <p
    style="
      margin-top: 14pt;
      margin-bottom: 14pt;
      line-height: 1.7;
      font-size: 12pt;
    "
  >
    <span
      >This Privacy Policy governs the manner in which Helper Plan Limited
      collects, uses, maintains and discloses information collected from users
      (each, a “User”). This privacy policy applies to the Helper Plan.com,
      other Helper Plan-related sites, apps and all products and services
      offered by Helper Plan.</span
    >
  </p>
  <p
    style="
      margin-top: 14pt;
      margin-bottom: 14pt;
      line-height: 1.7;
      font-size: 12pt;
    "
  >
    <span
      >We respect your privacy and we are committed to protecting your personal
      data.
    </span>
  </p>
  <h2
    style="
      margin-top: 15pt;
      margin-bottom: 15pt;
      line-height: 1.7;
      font-size: 18pt;
      background-color: #ffffff;
    "
  >
    <span style="font-weight: normal; color: #054a84"
      >Information We Collect
    </span>
  </h2>
  <p
    style="
      margin-top: 14pt;
      margin-bottom: 14pt;
      line-height: 1.7;
      font-size: 12pt;
    "
  >
    <span
      >We collect the following information from you when you use our Apps and
      Website as an Employer:</span
    >
  </p>
  <p
    style="
      margin-top: 14pt;
      margin-bottom: 14pt;
      line-height: 1.7;
      font-size: 12pt;
    "
  >
    <strong><span>First Name &amp; Last Name: </span></strong
    ><span
      >We collect the first and last names of both employers and candidates as a
      compulsory measure to personalize your experience on our platform. This
      personal identity information helps tailor features and interactions to
      improve usability and satisfaction. Please note that your first and last
      names are not shared with any third parties without consent and are used
      solely within service to enhance your personalized app experience. Please
      note that in case of employer your names will only be shared with other
      candidates if you choose to connect with them through specific actions
      within the app.</span
    ><br /><br /><strong
      ><span
        >Social Login (Public Profile &amp; Email from
        Google/Facebook/Apple):</span
      ></strong
    ><span>
      We offer the option for both employers and candidates to use social login
      features (including public profile and email from Google, Facebook, or
      Apple) to facilitate a password-less, one-click login process. Collecting
      this information is optional and solely intended to enhance your
      convenience by simplifying access to our platform. Social Login data is
      shared with Google Firebase for technical processing.</span
    >
  </p>
  <p
    style="
      margin-top: 14pt;
      margin-bottom: 14pt;
      line-height: 1.7;
      font-size: 12pt;
    "
  >
    <strong><span>Contact List - </span></strong
    ><strong><span>Email Address: </span></strong
    ><span
      >We require both employers and candidates to provide their email addresses
      to facilitate login and to contact you about service offerings. This
      compulsory collection of your email addresses ensures we can maintain
      effective communication. Please note that your email address is not shared
      with any third parties without your explicit consent.</span
    >
  </p>
  <p
    style="
      margin-top: 14pt;
      margin-bottom: 14pt;
      line-height: 1.7;
      font-size: 12pt;
    "
  >
    <strong><span>Contact List – Mobile Number: </span></strong
    ><strong><span></span></strong
    ><span
      >We collect mobile numbers from both employers and candidates, with the
      provision of this information being optional. For employers, the mobile
      number is used solely to offer an alternative method of discussing our
      services and is not shared with any third parties. For candidates, the
      mobile number serves not only for discussing services but also enables
      potential employers and partner agencies to contact you regarding job
      offers if you choose to publish your resume profile. Please note that
      sharing your mobile number in this context is tied to the optional
      creation of your resume profile.</span
    >
  </p>
  <p
    style="
      margin-top: 14pt;
      margin-bottom: 14pt;
      line-height: 1.7;
      font-size: 12pt;
    "
  >
    <strong><span>Contact List – WhatsApp Number: </span></strong
    ><span
      >We collect WhatsApp numbers from candidates as an optional method to
      facilitate communication about our services. Additionally, if you opt to
      publish your resume profile, your WhatsApp number may be shared with
      potential employers and partner agencies as a contact option for job
      offers. Please note that sharing your WhatsApp number is contingent upon
      your choice to create and publish your resume profile, making this an
      optional sharing feature.</span
    >
  </p>
  <p
    style="
      margin-top: 14pt;
      margin-bottom: 14pt;
      line-height: 1.7;
      font-size: 12pt;
    "
  >
    <strong><span>Password: </span></strong
    ><span
      >We offer both employers and candidates the option to create a password
      for authentication purposes. This option is available unless you choose to
      use social login, which does not require a password. Please be assured
      that we do not store password in plain text and any password you create is
      strictly confidential and not shared with any third parties.</span
    >
  </p>
  <p
    style="
      margin-top: 14pt;
      margin-bottom: 14pt;
      line-height: 1.7;
      font-size: 12pt;
    "
  >
    <strong><span>City Location</span></strong
    ><strong><span>:</span></strong
    ><span>
      We collect city location data from both employers and candidates only if
      you choose to provide this information during the creation of job or
      resume posts. This optional data is used to narrow search results to your
      specific area, enhancing the relevance of job and resume listings. This
      information will be published along with the Job Post or Resume
      profile.</span
    >
  </p>
  <p
    style="
      margin-top: 14pt;
      margin-bottom: 14pt;
      line-height: 1.7;
      font-size: 12pt;
    "
  >
    <strong><span>Job Post: </span></strong
    ><span
      >We allow employers to optionally provide preferred candidate requirements
      such as age, gender, religion, nationality, salary offering, and skills
      for the purpose of publishing job posts on our platform. This enables
      potential candidates to find and apply for jobs that match their
      qualifications and interests. Please note that while these job posts are
      visible to the public on our platform, they are published without linking
      to the personal identity of the post creator, ensuring your privacy is
      maintained.</span
    >
  </p>
  <p
    style="
      margin-top: 14pt;
      margin-bottom: 14pt;
      line-height: 1.7;
      font-size: 12pt;
    "
  >
    <strong><span>Resume Post: </span></strong
    ><span
      >When candidates choose to create a resume profile, they can optionally
      include various details such as personal summary, work experience,
      educational background, language skills, other skills, professional
      qualifications, salary information, gender, nationality, age, and
      preferred job classifications and locations. These details are collected
      to enhance your visibility to potential employers who may be looking for
      candidates with your qualifications and preferences. They use this
      information to reach out for interviews and hiring processes. While your
      resume is shared on the platform for all public users to view, please note
      that your contact details remain confidential. Only verified Employers and
      Partner agencies can access these, ensuring a layer of privacy and
      security in your job search.</span
    >
  </p>
  <p
    style="
      margin-top: 14pt;
      margin-bottom: 14pt;
      line-height: 1.7;
      font-size: 12pt;
    "
  >
    <strong><span>Non-personal identification information: </span></strong
    ><span
      >We collect various types of non-personal identification information from
      both employers and candidates, including device type (mobile, tablet,
      desktop), device model, operating system type (such as Windows, Linux,
      Android, iOS), operating system version, browser type (such as Chrome,
      Edge, Safari), browser version, web browser cookies, and app crash
      reports. This information is collected in the background to enrich your
      user experience through analysis. The collected data is shared with Google
      Firebase exclusively for analytical purposes and is not used for
      marketing.</span
    ><a name="_Hlk166150369"></a><a name="_Hlk166150215"></a>
  </p>
  <p
    style="
      margin-top: 14pt;
      margin-bottom: 14pt;
      line-height: 1.7;
      font-size: 12pt;
    "
  >
    <strong><span>Advertising ID:</span></strong
    ><span>
      We collect Advertising IDs from candidates. These IDs are a form of
      non-personal identification and are utilized solely for the purpose of
      displaying advertisements through the Google AdMob service.
    </span>
  </p>
  <h2
    style="
      margin-top: 15pt;
      margin-bottom: 15pt;
      line-height: 1.7;
      font-size: 18pt;
      background-color: #ffffff;
    "
  >
    <span style="font-weight: normal; color: #054a84"
      >How We Share Contact List Information</span
    >
  </h2>
  <ul type="disc" style="margin: 0pt; padding-left: 0pt">
    <li
      style="
        margin-top: 14pt;
        margin-left: 28.52pt;
        line-height: 1.7;
        padding-left: 7.48pt;
        font-size: 12pt;
      "
    >
      <span
        >When employers create a job post, the job post is made publicly
        available for candidates and partner agencies to view. We ensure that
        your personal identity and employer contact list details are not
        disclosed in the job post and only the employer can choose to contact
        the candidate.
      </span>
    </li>
    <li
      style="
        margin-left: 28.52pt;
        line-height: 1.7;
        padding-left: 7.48pt;
        font-size: 12pt;
      "
    >
      <span
        >For candidates who have created a Resume Profile, Helper Plan shares
        the complete profile, including contact details such as email address,
        phone number, and WhatsApp number, with potential employers and our
        partner agencies. This facilitates the process of job offers and
        employment opportunities.</span
      >
    </li>
    <li
      style="
        margin-left: 28.52pt;
        line-height: 1.7;
        padding-left: 7.48pt;
        font-size: 12pt;
      "
    >
      <span
        >For candidates who have not created a Resume Profile, no contact list
        information is shared. Creating a resume profile is entirely optional
        and is under the control of the candidate.
      </span>
    </li>
    <li
      style="
        margin-left: 28.52pt;
        line-height: 1.7;
        padding-left: 7.48pt;
        font-size: 12pt;
      "
    >
      <span
        >You can choose not to share your Personal Information with us. However,
        if you choose not to provide us with the necessary Personal Information,
        we may not be able to provide you with some or all of our products or
        services.</span
      ><span>&nbsp;</span>
    </li>
    <li
      style="
        margin-left: 28.52pt;
        margin-bottom: 14pt;
        line-height: 1.7;
        padding-left: 7.48pt;
        font-size: 12pt;
      "
    >
      <span
        >We also require your Personal Information to meet our legal
        obligations. Where the legal basis for the Processing of your Personal
        Information is to comply with our legal obligations, a failure by you to
        provide us with certain Personal Information may cause us and/or you to
        be in breach of these legal obligations.</span
      ><span>&nbsp;</span>
    </li>
  </ul>
  <h2
    style="
      margin-top: 15pt;
      margin-bottom: 15pt;
      line-height: 1.7;
      font-size: 18pt;
      background-color: #ffffff;
    "
  >
    <span style="font-weight: normal; color: #054a84"
      >Where Do We Send Collected Information:</span
    >
  </h2>
  <p
    style="
      margin-top: 14pt;
      margin-bottom: 14pt;
      line-height: 1.7;
      font-size: 12pt;
    "
  >
    <span
      >Collected information is uploaded to https://api2.Helper Plan.com. This
      URL is Helper Plan's official server and it's being managed under Helper
      Plan's direct control.</span
    >
  </p>
  <h2
    style="
      margin-top: 15pt;
      margin-bottom: 15pt;
      line-height: 1.7;
      font-size: 18pt;
      background-color: #ffffff;
    "
  >
    <span style="font-weight: normal; color: #054a84"
      >How We Use Your Information</span
    >
  </h2>
  <p
    style="
      margin-top: 14pt;
      margin-bottom: 14pt;
      line-height: 1.7;
      font-size: 12pt;
    "
  >
    <span>We use your information for the following purposes:</span>
  </p>
  <ul type="disc" style="margin: 0pt; padding-left: 0pt">
    <li
      style="
        margin-top: 14pt;
        margin-left: 27.6pt;
        line-height: 1.7;
        padding-left: 8.4pt;
        font-size: 10pt;
      "
    >
      <span style="font-size: 12pt"
        >To provide our products and services, including but not limited to
        assisting and enabling Candidates in searching and applying for jobs;
        assisting Employers in recruiting for roles; to process transactions
        with you; to verify you as a Registered User.</span
      >
    </li>
    <li
      style="
        margin-left: 27.6pt;
        line-height: 1.7;
        padding-left: 8.4pt;
        font-size: 10pt;
      "
    >
      <span style="font-size: 12pt"
        >To manage and administer our products and services, verify your
        identity and to ensure the safety and security of our operations.</span
      >
    </li>
    <li
      style="
        margin-left: 27.6pt;
        line-height: 1.7;
        padding-left: 8.4pt;
        font-size: 10pt;
      "
    >
      <span style="font-size: 12pt"
        >To operate and improve the App and Website.</span
      >
    </li>
    <li
      style="
        margin-left: 27.6pt;
        line-height: 1.7;
        padding-left: 8.4pt;
        font-size: 10pt;
      "
    >
      <span style="font-size: 12pt"
        >To personalize your experience with the App and Website.</span
      >
    </li>
    <li
      style="
        margin-left: 27.6pt;
        line-height: 1.7;
        padding-left: 8.4pt;
        font-size: 10pt;
      "
    >
      <span style="font-size: 12pt"
        >To communicate with you about the App, including updates, security
        alerts, and support inquiries.</span
      >
    </li>
    <li
      style="
        margin-left: 27.6pt;
        line-height: 1.7;
        padding-left: 8.4pt;
        font-size: 10pt;
      "
    >
      <span style="font-size: 12pt"
        >To analyse trends and usage data to improve the App and Website.</span
      >
    </li>
    <li
      style="
        margin-left: 27.6pt;
        line-height: 1.7;
        padding-left: 8.4pt;
        font-size: 10pt;
      "
    >
      <span style="font-size: 12pt">To comply with legal obligations.</span>
    </li>
    <li
      style="
        margin-left: 27.6pt;
        line-height: 1.7;
        padding-left: 8.4pt;
        font-size: 10pt;
      "
    >
      <span style="font-size: 12pt"
        >To market and promote our products and services. </span
      ><span style="font-size: 12pt">⁠</span
      ><span style="font-size: 12pt"
        >We use your information to send you marketing and promotional materials
        for direct marketing purposes including information about our products
        and features, job placement and related career information, newsletters,
        survey requests, and events we think may be of interest to you. We may
        communicate with you via a number of different channels (including
        email/chat/telephone).</span
      >
    </li>
    <li
      style="
        margin-left: 27.6pt;
        line-height: 1.7;
        padding-left: 8.4pt;
        font-size: 10pt;
      "
    >
      <span style="font-size: 12pt"
        >To conduct market surveys, trials, and customer research.</span
      >
    </li>
    <li
      style="
        margin-left: 27.6pt;
        margin-bottom: 14pt;
        line-height: 1.7;
        padding-left: 8.4pt;
        font-size: 10pt;
      "
    >
      <span style="font-size: 12pt"
        >To send you information regarding the products and services offered by
        businesses within Helper Plan Group, Advertisers, and Partners.</span
      >
    </li>
  </ul>
  <h2
    style="
      margin-top: 15pt;
      margin-bottom: 15pt;
      line-height: 1.7;
      font-size: 18pt;
      background-color: #ffffff;
    "
  >
    <span style="font-weight: normal; color: #054a84"
      >Deleting Your Personal Data</span
    >
  </h2>
  <p
    style="
      margin-top: 14pt;
      margin-bottom: 14pt;
      line-height: 1.7;
      font-size: 12pt;
    "
  >
    <span
      >You have the right to delete your personal data from our systems. To do
      this, you can follow these steps:</span
    >
  </p>
  <ol type="1" style="margin: 0pt; padding-left: 0pt">
    <li
      style="
        margin-top: 14pt;
        margin-left: 32pt;
        line-height: 1.7;
        padding-left: 4pt;
        font-size: 12pt;
      "
    >
      <strong>Access Your Profile:</strong> Log in to your Helper Plan account
      and navigate to your profile section.
    </li>
    <li
      style="
        margin-left: 32pt;
        line-height: 1.7;
        padding-left: 4pt;
        font-size: 12pt;
      "
    >
      <strong>Delete Account Option:</strong> Locate the "Delete Account" option
      within your profile settings or menu.
    </li>
    <li
      style="
        margin-left: 32pt;
        margin-bottom: 14pt;
        line-height: 1.7;
        padding-left: 4pt;
        font-size: 12pt;
      "
    >
      <strong>Confirm Deletion:</strong> Once you find the "Delete Account"
      option, follow the on-screen instructions to confirm your request for data
      deletion.
    </li>
  </ol>
  <p
    style="
      margin-top: 14pt;
      margin-bottom: 14pt;
      text-indent: 18pt;
      line-height: 1.7;
      font-size: 12pt;
    "
  >
    <strong><span>Important to Note:</span></strong>
  </p>
  <ul type="disc" style="margin: 0pt; padding-left: 0pt">
    <li
      style="
        margin-top: 14pt;
        margin-left: 27.6pt;
        line-height: 1.7;
        padding-left: 8.4pt;
        font-size: 10pt;
      "
    >
      <span style="font-size: 12pt"
        >Deleting your account will remove your personal data associated with
        your Helper Plan account. This may include information like your name,
        email address, profile picture, and any other data you have
        provided.</span
      >
    </li>
    <li
      style="
        margin-left: 27.6pt;
        margin-bottom: 14pt;
        line-height: 1.7;
        padding-left: 8.4pt;
        font-size: 10pt;
      "
    >
      <span style="font-size: 12pt"
        >Once your account is deleted, you may not be able to access certain
        features or functionalities of the Helper Plan app that require an
        account.</span
      >
    </li>
  </ul>
  <p
    style="
      margin-top: 15pt;
      margin-bottom: 15pt;
      text-indent: 18pt;
      line-height: 1.7;
      font-size: 12pt;
      background-color: #ffffff;
    "
  >
    <span style="font-weight: normal">4. </span
    ><span><b>Opt-Out/Unsubscribe</b></span
    ><span style="font-weight: normal"
      >: We may use your email address to send them information and updates. If
      User decides to opt-in to our mailing list, they will receive emails that
      may include company news, updates, related product or service information,
      etc. If at any time the User would like to unsubscribe from receiving
      future emails, we include detailed unsubscribe instructions at the bottom
      of each email or in your user settings.</span
    >
  </p>
  <h2
    style="
      margin-top: 15pt;
      margin-bottom: 15pt;
      line-height: 1.7;
      font-size: 18pt;
      background-color: #ffffff;
    "
  >
    <span style="font-weight: normal; color: #054a84">Your Choices</span>
  </h2>
  <p
    style="
      margin-top: 14pt;
      margin-bottom: 14pt;
      line-height: 1.7;
      font-size: 12pt;
    "
  >
    <span
      >You can choose not to provide certain optional information. However, this
      may limit your ability to use certain features of the App and
      Website.</span
    >
  </p>
  <h2
    style="
      margin-top: 15pt;
      margin-bottom: 15pt;
      line-height: 1.7;
      font-size: 18pt;
      background-color: #ffffff;
    "
  >
    <span style="font-weight: normal; color: #054a84">Data Retention</span>
  </h2>
  <p
    style="
      margin-top: 14pt;
      margin-bottom: 14pt;
      line-height: 1.7;
      font-size: 12pt;
    "
  >
    <span
      >We will retain your information for as long as your account is active or
      as needed to provide you with services. We will also retain and use your
      information to the extent necessary to comply with our legal obligations,
      resolve disputes, and enforce our agreements.</span
    >
  </p>
  <h2
    style="
      margin-top: 15pt;
      margin-bottom: 15pt;
      line-height: 1.7;
      font-size: 18pt;
      background-color: #ffffff;
    "
  >
    <span style="font-weight: normal; color: #054a84">Data Sharing</span>
  </h2>
  <p
    style="
      margin-top: 14pt;
      margin-bottom: 14pt;
      line-height: 1.7;
      font-size: 12pt;
    "
  >
    <span
      >We may share your information with third-party service providers who help
      us operate and improve the App. These service providers are contractually
      obligated to keep your information confidential and secure.</span
    >
  </p>
  <p
    style="
      margin-top: 14pt;
      margin-bottom: 14pt;
      line-height: 1.7;
      font-size: 12pt;
    "
  >
    <span
      >We do not disclose, sell, share, or rent Users' personal identification
      information to others, except if you have agreed to receive privileged and
      discount offers from our partners. We may share generic aggregated
      demographic information not linked to any personal identification
      information regarding visitors and users with our business partners,
      trusted affiliates, and advertisers for the purposes outlined above.</span
    >
  </p>
  <h2
    style="
      margin-top: 15pt;
      margin-bottom: 15pt;
      line-height: 1.7;
      font-size: 18pt;
      background-color: #ffffff;
    "
  >
    <span style="font-weight: normal; color: #054a84"
      >Third-party websites</span
    >
  </h2>
  <p
    style="
      margin-top: 14pt;
      margin-bottom: 14pt;
      line-height: 1.7;
      font-size: 12pt;
    "
  >
    <span
      >Users may find advertising or other content on our Site that links to the
      sites and services of our partners, suppliers, advertisers, sponsors,
      licensors, and other third parties. We do not control the content or links
      that appear on these sites and are not responsible for the practices
      employed by websites linked to or from our Site. In addition, these sites
      or services, including their content and links, may be constantly
      changing. These sites and services may have their own privacy policies and
      customer service policies. Browsing and interaction on any other website,
      including websites that have a link to our Site, is subject to that
      website’s own terms and policies.</span
    >
  </p>
  <h2
    style="
      margin-top: 15pt;
      margin-bottom: 15pt;
      line-height: 1.7;
      font-size: 18pt;
      background-color: #ffffff;
    "
  >
    <span style="font-weight: normal; color: #054a84">Security</span>
  </h2>
  <p
    style="
      margin-top: 14pt;
      margin-bottom: 14pt;
      line-height: 1.7;
      font-size: 12pt;
      background-color: #ffffff;
    "
  >
    <span style="font-weight: normal"
      >We take reasonable steps to ensure the security of our systems and to
      protect your Personal Information from misuse, interference, and loss as
      well as unauthorized access, modification, or disclosure. Any Personal
      Information which we hold is stored on secure servers and protected in
      controlled facilities.</span
    >
  </p>
  <p
    style="
      margin-top: 14pt;
      margin-bottom: 14pt;
      line-height: 1.7;
      font-size: 12pt;
      background-color: #ffffff;
    "
  >
    <span style="font-weight: normal"
      >We follow accepted industry standards to protect your Personal
      Information. However, no method of transmission over the internet, or
      method of electronic storage, is guaranteed to always be secure.</span
    >
  </p>
  <p
    style="
      margin-top: 15pt;
      margin-bottom: 15pt;
      line-height: 1.7;
      font-size: 12pt;
      background-color: #ffffff;
    "
  >
    <span style="font-weight: normal"
      >You can also play an important role in keeping your Personal Information
      secure, by maintaining the confidentiality of any passwords and accounts
      used on the Platforms. Please notify us immediately if you become aware of
      any unauthorized use of, or breach of security relating to, your
      account.</span
    >
  </p>
  <h2
    style="
      margin-top: 15pt;
      margin-bottom: 15pt;
      line-height: 1.7;
      font-size: 18pt;
      background-color: #ffffff;
    "
  >
    <span style="font-weight: normal; color: #054a84">Children's Privacy</span>
  </h2>
  <p
    style="
      margin-top: 14pt;
      margin-bottom: 14pt;
      line-height: 1.7;
      font-size: 12pt;
    "
  >
    <span
      >Our App is not directed to children under the age of 18. We do not
      knowingly collect personal information from children under 18. If you are
      a parent or guardian and you learn that your child has provided us with
      personal information, please contact us.</span
    >
  </p>
  <h2
    style="
      margin-top: 15pt;
      margin-bottom: 15pt;
      line-height: 1.7;
      font-size: 18pt;
      background-color: #ffffff;
    "
  >
    <span style="font-weight: normal; color: #054a84"
      >Changes to this Privacy Policy</span
    >
  </h2>
  <p
    style="
      margin-top: 14pt;
      margin-bottom: 14pt;
      line-height: 1.7;
      font-size: 12pt;
    "
  >
    <span
      >We may update this Privacy Policy from time to time. We will notify you
      of any changes by posting the new </span
    ><a
      href="https://www.Helper Plan.com/privacy-policy"
      style="text-decoration: none"
      ><span style="color: #000000">Privacy Policy</span></a
    ><span> on this page. </span>
  </p>
  <h2
    style="
      margin-top: 15pt;
      margin-bottom: 15pt;
      line-height: 1.7;
      font-size: 18pt;
      background-color: #ffffff;
    "
  >
    <span style="font-weight: normal; color: #054a84">Contacting us</span>
  </h2>
  <p
    style="
      margin-top: 0pt;
      margin-bottom: 18pt;
      line-height: 1.7;
      font-size: 12pt;
      background-color: #ffffff;
    "
  >
    <span style="color: #434345"
      >If you have any questions about this Privacy Policy, the practices of
      this site, or your dealings with this site, please contact us at:</span
    >
  </p>
  <h2
    style="
      margin-top: 15pt;
      margin-bottom: 15pt;
      line-height: 1.7;
      font-size: 18pt;
      background-color: #ffffff;
    "
  >
    <span style="font-weight: normal; color: #054a84">Helper Plan Limited</span>
  </h2>
  <p
    style="
      margin-top: 0pt;
      margin-bottom: 18pt;
      line-height: 1.7;
      font-size: 12pt;
      background-color: #ffffff;
    "
  >
    <span style="color: #434345"
      >Tel: +852-8191-7020 – email: “support helperplan.com”</span
    >
  </p>
  <p
    style="
      margin-top: 0pt;
      margin-bottom: 18pt;
      line-height: 1.7;
      font-size: 12pt;
      background-color: #ffffff;
    "
  >
    <span style="color: #434345"
      >Room P, Unit 4, 2/F, Sunray Industrial Centre, 610 Cha Kwo Ling Road, Yau
      Tong, Kowloon, Hong Kong</span
    >
  </p>
  <p
    style="
      margin-top: 0pt;
      margin-bottom: 18pt;
      line-height: 1.7;
      font-size: 12pt;
      background-color: #ffffff;
    "
  >
    <span style="color: #434345"
      >Licensed Employment Agency in Hong Kong – Licence No. 73420</span
    ><br /><span style="color: #434345"
      >Compliant with Code of Practice for Employment Agencies –</span
    ><span style="color: #434345">&nbsp;</span
    ><a href="https://www.eaa.labour.gov.hk/" style="text-decoration: none"
      ><u
        ><span style="letter-spacing: 0.75pt; color: #054a84"
          >Employment Agencies Portal</span
        ></u
      ></a
    ><br /><a
      href="https://www.labour.gov.hk/eng/news/content.htm"
      style="text-decoration: none"
      ><u
        ><span style="letter-spacing: 0.75pt; color: #054a84"
          >HK Labour Department</span
        ></u
      ></a
    >
  </p>
</div>
