<div class="Change-Password">
  <form [formGroup]="PasswordForm" class="Change-Password-Form">
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Old Password</label>
      <input
        formControlName="OldPassword"
        type="password"
        class="form-control"
        id="exampleInputPassword1"
      />
      <div
        *ngIf="
          PasswordForm.controls['OldPassword']?.invalid &&
          (PasswordForm.controls['OldPassword']?.dirty ||
            PasswordForm.controls['OldPassword']?.touched)
        "
      >
        <div
          *ngIf="(PasswordForm.controls['OldPassword']?.errors)!['required']"
        >
          Password is required.
        </div>
      </div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">New Password</label>
      <input
        formControlName="NewPassword"
        type="password"
        class="form-control"
        id="exampleInputPassword1"
      />
      <div
        *ngIf="
          PasswordForm.controls['NewPassword']?.invalid &&
          (PasswordForm.controls['NewPassword']?.dirty ||
            PasswordForm.controls['NewPassword']?.touched)
        "
      >
        <div
          *ngIf="(PasswordForm.controls['NewPassword']?.errors)!['required']"
        >
          Password is required.
        </div>
      </div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label"
        >Confirm Password</label
      >
      <input
        formControlName="ConfirmPassword"
        type="password"
        class="form-control"
        id="exampleInputPassword1"
      />
      <div
        *ngIf="
          PasswordForm.controls['ConfirmPassword']?.invalid &&
          (PasswordForm.controls['ConfirmPassword']?.dirty ||
            PasswordForm.controls['ConfirmPassword']?.touched)
        "
      >
        <div
          *ngIf="
            (PasswordForm.controls['ConfirmPassword']?.errors)!['required']
          "
        >
          Password is required.
        </div>
      </div>
      <div
        *ngIf="PasswordForm.errors?.['passwordMismatch'] && (PasswordForm.controls['NewPassword']?.dirty || PasswordForm.controls['NewPassword']?.touched)"
      >
        Passwords do not match.
      </div>
    </div>
    <button
      [disabled]="PasswordForm.invalid"
      (click)="UpdateUserPassword()"
      type="submit"
      class="btn btn-primary"
    >
      Submit
    </button>
  </form>
</div>
