<form>
  <mat-form-field [class]="class">
    <mat-label>{{ PlaceHolder }}</mat-label>
    <input
      type="text"
      placeholder="Pick one"
      aria-label="Number"
      matInput
      [formControl]="InitialValue"
      [matAutocomplete]="auto"
    />
    <mat-autocomplete (optionSelected)="optionSelected($event)" autoActiveFirstOption #auto="matAutocomplete">
      @for (option of filteredOptions | async; track option) {
      <mat-option [value]="option">{{
        option
      }}</mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>
</form>
