<!-- Pricing 2 - Bootstrap Brain Component -->
<section class="bsb-pricing-2 bg-light py-5 py-xl-8">
  <div class="container">
    <div class="top-banner-wrapper ng-star-inserted">
      <div class="top-banner-content small-section">
        <h1 class="ng-star-inserted"><span>Easy
            solution to connect Employers and Helpers</span></h1>
        <p class="header_2 ng-star-inserted"> Select your plan and access to a large
          database of domestic helpers looking for a new employer. Easily connect, message and interview the best
          candidates for your family. </p>
      </div>
    </div>



    <div class="row gy-5 gy-lg-0 gx-xl-5 mt-3">

      @for (plan of plansLst; track $index) {


      <div class="blog-agency rounded mt-4 mb-5  col-12 col-lg-4">
        <div class="blog-contain ng-star-inserted ">
          <div class="price-container price-margin shadows text-center">
            <div class="feature-text border-bottom-helper-green">
              <h3 class="feature-text-heading text-center"> {{ plan.name }} Plan </h3>
            </div>
            <div class="price-feature-container">
              <div class="price-value">
                <h6 class="price text-center ng-star-inserted fs-6 mb-3
                "> SAR / <span class="large">{{ plan.price }}</span></h6>
                <h5 class="price-feature mt-1 text-center ng-star-inserted">  {{ plan.type }}</h5>
              </div>
              <a class="btn btn-pricing btn-white" (click)="handleSubscription(plan)"> GET STARTED </a>
              <hr class="set-border">
              <div class="price-features ng-star-inserted  ms-5 ">
                <h5 class="price-feature text-center">
                  <div class="features-price"></div>
                  <span class="ng-star-inserted">
                    <div class="features-price">
                      <div class="price-label d-flex justify-contant-start align-items-center "><i aria-hidden="true"
                          class="fa fa-check mr-2 ng-star-inserted me-3"></i>
                        <div style="word-break: break-word;" class="lead fs-6">{{ plan.type }}</div>
                      </div>
                    </div>
                  </span>
                </h5>
              </div>
              <div class="price-features ng-star-inserted  ms-5">
                <h5 class="price-feature text-center">
                  <div class="features-price"></div><span class="ng-star-inserted">
                    <div class="features-price">
                      <div class="price-label d-flex justify-contant-start align-items-center "><i aria-hidden="true"
                          class="fa fa-check mr-2 ng-star-inserted me-3"></i>
                        <div style="word-break: break-word;">
                          <p><span style="color:#1abc9c"><span style="font-size:14px">One Time Fee</span></span></p>
                        </div>
                      </div>
                    </div>
                  </span>
                </h5>
              </div>
              <div class="price-features ng-star-inserted  ms-5">
                <h5 class="price-feature text-center">
                  <div class="features-price"></div><span class="ng-star-inserted">
                    <div class="features-price">
                      <div class="price-label d-flex justify-contant-start align-items-center "><i aria-hidden="true"
                          class="fa fa-check mr-2 ng-star-inserted me-3"></i>
                        <div style="word-break: break-word; " class="fs-6">Contact All Candidates
                        </div>
                      </div>
                    </div>
                  </span>
                </h5>
              </div>
              <div class="price-features ng-star-inserted  ms-5">
                <h5 class="price-feature text-center">
                  <div class="features-price"></div><span class="ng-star-inserted">
                    <div class="features-price">
                      <div class="price-label d-flex justify-contant-start align-items-center "><i aria-hidden="true"
                          class="fa fa-check mr-2 ng-star-inserted me-3"></i>
                        <div style="word-break: break-word;" class="fs-6">
                          <p class="m-0">260,000+ Users</p>
                        </div>
                      </div>
                    </div>
                  </span>
                </h5>
              </div>
              <div class="price-features ng-star-inserted  ms-5">
                <h5 class="price-feature text-center">
                  <div class="features-price"></div><span class="ng-star-inserted">
                    <div class="features-price">
                      <div class="price-label d-flex justify-contant-start align-items-center "><i aria-hidden="true"
                          class="fa fa-check mr-2 ng-star-inserted me-3"></i>
                        <div style="word-break: break-word;" class="fs-6">Recommended Profiles
                        </div>
                      </div>
                    </div>
                  </span>
                </h5>
              </div>
              <div class="price-features ng-star-inserted  ms-5">
                <h5 class="price-feature text-center">
                  <div class="features-price"></div><span class="ng-star-inserted">
                    <div class="features-price">
                      <div class="price-label d-flex justify-contant-start align-items-center "><i aria-hidden="true"
                          class="fa fa-check mr-2 ng-star-inserted me-3"></i>
                        <div style="word-break: break-word;" class="fs-6"> 1 Job Posting</div>
                      </div>
                    </div>
                  </span>
                </h5>
              </div>
              <div class="price-features ng-star-inserted  ms-5">
                <h5 class="price-feature text-center">
                  <div class="features-price"></div><span class="ng-star-inserted">
                    <div class="features-price">
                      <div class="price-label d-flex justify-contant-start align-items-center "><i aria-hidden="true"
                          class="fa fa-check mr-2 ng-star-inserted me-3"></i>
                        <div style="word-break: break-word;" class="fs-6">Shortlist</div>
                      </div>
                    </div>
                  </span>
                </h5>
              </div>
              <div class="price-features ng-star-inserted  ms-5">
                <h5 class="price-feature text-center">
                  <div class="features-price"></div><span class="ng-star-inserted">
                    <div class="features-price">
                      <div class="price-label d-flex justify-contant-start align-items-center "><i aria-hidden="true"
                          class="fa fa-check mr-2 ng-star-inserted me-3"></i>
                        <div style="word-break: break-word;" class="fs-6">Support Team</div>
                      </div>
                    </div>
                  </span>
                </h5>
              </div>
            </div>
          </div>
        </div>

      </div>

      }
    </div>
  </div>
</section>


<section class="bg bg-dark py-4">
  <div class="container">
    <div class="row text-center">
      <div class="col-12">
        <h4 class="text-light"> Got a question?</h4>
        <h5 class="text-light mb-3"> We are here to help you. Check out our FAQs or
          send an email to our support team. </h5><a href="mailto:support@helperplan.com"
          class="btn btn_custom_color text-light text-center my-2 mx-auto btn-lg rounded bg-green"> CONTACT US </a>
      </div>
    </div>
  </div>
</section>