<ngb-carousel *ngIf="randomCandidates.length > 0">
  <ng-template ngbSlide *ngFor="let item of randomCandidates; index as i">
    <div class="container">
      <div class="row rounded mx-auto mb-3 col-8 card p-2">
        <div class="row col-12">
          <div class="col-md-3">
            <img
              [src]="env + item.photoURL"
              alt="image"
              class="rounded-circle img-fluid m-2"
            />
          </div>
          <div class="col-9">
            <div class="row mt-md-3 mb-1">
              <h4 class="col-4" style="color: #054a84">
                {{ item.fname }} {{ item.age }}
              </h4>
            </div>
            <div class="row mb-2">
              <div class="col-md-6" style="color: darkgray">
                {{ item.position }}
              </div>
              <div class="col-md-6" style="color: darkgray">
                <i class="fa-solid fa-location-dot"></i> {{ item.location }}
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 mb-3" style="font-weight: 200">
                <div class="col-md-12 mb-3" style="font-weight: 100">
                  <p style="max-width: 95%; word-wrap: break-word">
                    {{ item.description }}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 px-0">
            <div id="trian" class="text-center">Direct</div>
          </div>
          <div class="col-md-9">
            <div class="row">
              <div class="col-md-4" style="color: #054a84">
                <i class="fa-solid fa-hourglass-start"></i>
                {{ item.workExperience }} years
              </div>
              <div class="col-md-4" style="color: #054a84">
                <i class="fa-solid fa-calendar-days"></i>
                {{ handleDate(item.availabilityDate).toLocaleDateString() }}
              </div>
              <div class="col-md-4" style="color: #25ae88">
                <a (click)="navigateToDetails(item.id)" style="cursor: pointer"
                  ><i class="fa-solid fa-circle"></i> Details
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</ngb-carousel>
