<section class="helpers p-5">
  <div class="container">
    <div class="d-flex">
      <div class="yellowline"></div>
      <h6> OUR COMMUNITY</h6>
    </div>
    <h3> They are now looking for a Job and are near you! </h3>
<div id="carouselExampleRide" class="carousel slide" data-bs-ride="true">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="row container my-4 ">
          <div class="card mb-3 helperCard col-lg-4 col-md-12 col-sm-12">
            <div class="d-flex justify-content-start align-items-center "> 
              <div class="">
                <div class=" rounded-circle overflow-hidden containImg ">
                  <img src="../../assets/Images/3.jpg" class="img-fluid rounded-start" alt="helper-phone" width="100">
                </div>
              </div>
              <div class="">
                <div class="card-body ">
                  <h5 class="card-title text-info m-0">Hnin</h5>
                  <ul class="list-unstyled mt-4 d-flex flex-column justify-content-center">
                    <li class="card-text " style="color: #25ae88;"><fa-icon
                        [icon]="['fas', 'map-marker-alt']"></fa-icon><span class="text-black"> Indonesia </span></li>
                    <li class="card-text" style="color: #25ae88;"><fa-icon [icon]="['fas', 'star']"></fa-icon> <span
                        class="text-black"> Domestic Helper | Full Time </span> </li>
                    <li class="card-text" style="color: #25ae88;"><fa-icon [icon]="['fas', 'calendar']"></fa-icon> <span
                        class="text-black"> From 01 Jul 2024 </span> </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="card mb-3 helperCard col-lg-4 col-md-12 col-sm-12 mx-auto">
            <div class="d-flex justify-content-start align-items-center "> 
              <div class="">
                <div class=" rounded-circle overflow-hidden containImg ">
                  <img src="../../assets/Images/3.jpg" class="img-fluid rounded-start" alt="helper-phone" width="100">
                </div>
              </div>
              <div class="">
                <div class="card-body ">
                  <h5 class="card-title text-info m-0">Hnin</h5>
                  <ul class="list-unstyled mt-4 d-flex flex-column justify-content-center">
                    <li class="card-text " style="color: #25ae88;"><fa-icon
                        [icon]="['fas', 'map-marker-alt']"></fa-icon><span class="text-black"> Indonesia </span></li>
                    <li class="card-text" style="color: #25ae88;"><fa-icon [icon]="['fas', 'star']"></fa-icon> <span
                        class="text-black"> Domestic Helper | Full Time </span> </li>
                    <li class="card-text" style="color: #25ae88;"><fa-icon [icon]="['fas', 'calendar']"></fa-icon> <span
                        class="text-black"> From 01 Jul 2024 </span> </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="card mb-3 helperCard col-lg-4 col-md-12 col-sm-12">
            <div class="d-flex justify-content-start align-items-center "> 
              <div class="">
                <div class=" rounded-circle overflow-hidden containImg ">
                  <img src="../../assets/Images/3.jpg" class="img-fluid rounded-start" alt="helper-phone" width="100">
                </div>
              </div>
              <div class="">
                <div class="card-body ">
                  <h5 class="card-title text-info m-0">Hnin</h5>
                  <ul class="list-unstyled mt-4 d-flex flex-column justify-content-center">
                    <li class="card-text " style="color: #25ae88;"><fa-icon
                        [icon]="['fas', 'map-marker-alt']"></fa-icon><span class="text-black"> Indonesia </span></li>
                    <li class="card-text" style="color: #25ae88;"><fa-icon [icon]="['fas', 'star']"></fa-icon> <span
                        class="text-black"> Domestic Helper | Full Time </span> </li>
                    <li class="card-text" style="color: #25ae88;"><fa-icon [icon]="['fas', 'calendar']"></fa-icon> <span
                        class="text-black"> From 01 Jul 2024 </span> </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
    <div class="carousel-item">
       <div class="row container my-4">
          <div class="card mb-3 helperCard col-lg-4 col-md-12 col-sm-12">
            <div class="d-flex justify-content-start align-items-center "> 
              <div class="">
                <div class=" rounded-circle overflow-hidden containImg ">
                  <img src="../../assets/Images/3.jpg" class="img-fluid rounded-start" alt="helper-phone" width="100">
                </div>
              </div>
              <div class="">
                <div class="card-body ">
                  <h5 class="card-title text-info m-0">Hnin</h5>
                  <ul class="list-unstyled mt-4 d-flex flex-column justify-content-center">
                    <li class="card-text " style="color: #25ae88;"><fa-icon
                        [icon]="['fas', 'map-marker-alt']"></fa-icon><span class="text-black"> Indonesia </span></li>
                    <li class="card-text" style="color: #25ae88;"><fa-icon [icon]="['fas', 'star']"></fa-icon> <span
                        class="text-black"> Domestic Helper | Full Time </span> </li>
                    <li class="card-text" style="color: #25ae88;"><fa-icon [icon]="['fas', 'calendar']"></fa-icon> <span
                        class="text-black"> From 01 Jul 2024 </span> </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="card mb-3 helperCard col-lg-4 col-md-12 col-sm-12 mx-auto">
            <div class="d-flex justify-content-start align-items-center "> 
              <div class="">
                <div class=" rounded-circle overflow-hidden containImg ">
                  <img src="../../assets/Images/3.jpg" class="img-fluid rounded-start" alt="helper-phone" width="100">
                </div>
              </div>
              <div class="">
                <div class="card-body ">
                  <h5 class="card-title text-info m-0">Hnin</h5>
                  <ul class="list-unstyled mt-4 d-flex flex-column justify-content-center">
                    <li class="card-text " style="color: #25ae88;"><fa-icon
                        [icon]="['fas', 'map-marker-alt']"></fa-icon><span class="text-black"> Indonesia </span></li>
                    <li class="card-text" style="color: #25ae88;"><fa-icon [icon]="['fas', 'star']"></fa-icon> <span
                        class="text-black"> Domestic Helper | Full Time </span> </li>
                    <li class="card-text" style="color: #25ae88;"><fa-icon [icon]="['fas', 'calendar']"></fa-icon> <span
                        class="text-black"> From 01 Jul 2024 </span> </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="card mb-3 helperCard col-lg-4 col-md-12 col-sm-12">
            <div class="d-flex justify-content-start align-items-center "> 
              <div class="">
                <div class=" rounded-circle overflow-hidden containImg ">
                  <img src="../../assets/Images/3.jpg" class="img-fluid rounded-start" alt="helper-phone" width="100">
                </div>
              </div>
              <div class="">
                <div class="card-body ">
                  <h5 class="card-title text-info m-0">Hnin</h5>
                  <ul class="list-unstyled mt-4 d-flex flex-column justify-content-center">
                    <li class="card-text " style="color: #25ae88;"><fa-icon
                        [icon]="['fas', 'map-marker-alt']"></fa-icon><span class="text-black"> Indonesia </span></li>
                    <li class="card-text" style="color: #25ae88;"><fa-icon [icon]="['fas', 'star']"></fa-icon> <span
                        class="text-black"> Domestic Helper | Full Time </span> </li>
                    <li class="card-text" style="color: #25ae88;"><fa-icon [icon]="['fas', 'calendar']"></fa-icon> <span
                        class="text-black"> From 01 Jul 2024 </span> </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="prev">
    <span class="border-2 prevBtn  " aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="next">
    <span class=" nextBtn" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
  </div>
</section>





