div {
    margin-bottom: 3px;
}

#main {
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 15px;
}
a.res{
  text-decoration: none;
  color: green;
  cursor: pointer;
}

.bluecolor {
    color: #054a84;
    font-weight: 600
}

.filterPopUp{
  display: none;
}


input[type="radio"]:checked + label,
input[type="checkbox"]:checked + label {
  color: green;
  font-weight: bold;
}


@media (max-width:1050px) {
  .filter{
    display: none;
  }
  .filterPopUp{
    display: block;
  }
}
