<div class="container ourCommunityHomeSection">
    <div class="row">
        <div class="col-md-5 leftSection">
            <img src="../../../assets/Images/mobileimage1.webp" alt="Candidate Image" class="candidate-image">
        </div>
        <div class="col-md-7 rightSection">
            <div class="content">
                <div class="yellowlineSection">
                    <div class="yellowline"></div>
                <h6> OUR COMMUNITY</h6>
            </div>
                <h3>Online Platform Matching Helpers And Employers</h3>
                <p>Do you want to use an <b>ethical and transparent platform</b> to connect your family with potential
                    candidates or employers? Are you quickly looking for a Domestic Helper, maid or Driver?
                    <br>HelperPlace is the best way to match your expectations with the right candidates or with any full
                    time domestic helpers. Post your job offer and easily access to all our candidates. Our solution is
                    <b>free for candidates and we do not have any hidden fees</b>.</p>
                <button class="btn text-white findCan mr-4">Find Candidates</button>
                <button class="btn GetAJob text-white ">Get A Job</button>
            </div>
        </div>
    </div>
</div>