.Post-Resume
{
    display: flex;
    justify-content: center;
}
.Post-Resume-Form
{
    margin: 2.5%;
    width: 70%;
}
h1,h3
{
  color: white;
  margin: 2.5% 0%;
  padding: 1% 2%;
}
h1
{
  background-color: rgb(81, 81, 199);
}
h3
{
  background-color: rgb(105, 105, 113);
}
.wrapper{
  display: inline-flex;
  background: #fff;
  height: 75px;
  width: 300px;
  align-items: center;
  justify-content:flex-start;
  border-radius: 5px;
  padding: 20px 0;
}
.wrapper .option{
  background: #fff;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-right: 10px;
  border-radius: 5px;
  cursor: pointer;
  padding: 0 10px;
  border: 2px solid lightgrey;
  transition: all 0.3s ease;
}
.wrapper .option .dot{
  height: 20px;
  width: 20px;
  background: #d9d9d9;
  border-radius: 50%;
  position: relative;
}
.wrapper .option .dot::before{
  position: absolute;
  content: "";
  top: 4px;
  left: 4px;
  width: 12px;
  height: 12px;
  background: #7b7c7d;
  border-radius: 50%;
  opacity: 0;
  transform: scale(1.5);
  transition: all 0.3s ease;
}
input[type="radio"]{
  display: none;
}
#option-1:checked:checked ~ .option-1,
#option-2:checked:checked ~ .option-2{
  border-color: #7b7c7d;
  background: #7b7c7d;
}
#option-1:checked:checked ~ .option-1 .dot,
#option-2:checked:checked ~ .option-2 .dot{
  background: #fff;
}
#option-1:checked:checked ~ .option-1 .dot::before,
#option-2:checked:checked ~ .option-2 .dot::before{
  opacity: 1;
  transform: scale(1);
}
.wrapper .option span{
  font-size: 20px;
  color: #808080;
}
#option-1:checked:checked ~ .option-1 span,
#option-2:checked:checked ~ .option-2 span{
  color: #fff;
}
