body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.login-container {
  margin-top: 100px;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 400px;
  width: 100%;
  margin-bottom: 100px;
}

h2 {
  margin-bottom: 20px;
}

.social-icons {
  margin-bottom: 20px;
}

.facebook-icon,
.google-icon {
  padding: 12px 16px;
  margin: 0 10px;
  border: none;
  border-radius: 50%;

  color: #fff;
  cursor: pointer;
}
.facebook-icon {
  background-color: #3b5998;
}
.google-icon {
  background-color: #db4437;
}

.facebook-icon:hover,
.google-icon:hover {
  background-color: #2d4373;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button[type="submit"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  margin-bottom: 20px;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

.links {
  margin-top: 20px;
  margin-bottom: 20px;
}
#reg {
  margin: 0 5px;
  text-decoration: none;
  color: #007bff;
}
#reg:hover {
  text-decoration: underline;
}
.links a {
  margin: 0 5px;
  text-decoration: none;
  color: #007bff;
}

.links a:hover {
  text-decoration: underline;
}

label {
  margin-right: 10px;
}

