<div class="container moreConnections">
    <div class="row">
        <div class="col-md-7 leftSection">
            <div class="content">
                <h2>More Than 800,000 Connections!</h2>
                <p>We offer a free place to allow any domestic helpers to meet you with no middlemen. After your
                    screening process, you will <b>recruit the best helpers for your family.</b></p>
                <div class="row cardsSection">
                    <div class="col-lg-4 col-md-12 col-12">
                        <div class="card text-center">
                            <h3 class="card-title"><b>300K</b></h3>
                            <span class="text-success">Users</span>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-12">
                        <div class="card text-center">
                            <h3 class="card-title"><b>100%</b></h3>
                            <span class="text-warning">FREE FOR JOB SEEKERS</span>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-12">
                        <div class="card text-center">
                            <h3 class="card-title"><b>4.8/5</b></h3>
                            <span class="text-success">SATISFACTION</span>
                        </div>
                    </div>
                </div>
                <p>Get instant access to today’s most powerful hiring tools – post jobs, search resumes, screen candidates and streamline your entire hiring process.</p>
                <button class="btn text-white RegBtn">Register</button>
            </div>
        </div>
        <div class="col-md-5 rightSection">
            <img src="../../../assets/Images/mobileimage1.webp" alt="Candidate Image" class="candidate-image">
        </div>
    </div>
</div>
