* {
  box-sizing: border-box;
}

.candidateResume {
  box-shadow: 3px 4px 9px 0px #0000003d;
  border-radius: 7px;
  padding: 0 !important;
  margin: 60px auto;
}

.helperCard {
  box-shadow: 1px 1px 3px #0000003d;
  transition: .5s;
  margin-bottom: 10px;
}

.helperCard .containImg {
  width: 70px;
  height: 70px;
  margin: 0;
}

@media (max-width:994px) {
  .rigthSec {
    display: none;
  }
}


/* .cover {
  background: center no-repeat url("../../../../../assets/Images/resume-lg.webp");
  width: 100%;
  background-size: cover;
  height: 150px;
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
  position: relative;
} */

.label {
  padding: 5px 7px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0 7px;
  background-color: #25ae88;
  color: white;
  font-weight: 400;
}

.img {
  position: absolute;
  top: 45%;
  left: 3%;
}

.directShap {
  margin: 8px 0;
  background-color: #054a84;
  z-index: 2;
  width: 20%;
  height: auto;
  text-align: center;
  display: flex;
  font-size: 15px;
  line-height: 23px;
  height: 24px;
  color: #fefefe;
  font-weight: 500;
  clip-path: polygon(100% 0, 90% 50%, 100% 100%, 0% 100%, 0 0%, 0% 0%);
  border-bottom: 3px solid #ebba16;
}

.bg-green {
  background-color: #25ae88;
}

.green {
  color: #25ae88;
}

.sprator {
  border-bottom: 3px solid #054a84;
  color: #054a84;
  background-color: rgba(5, 74, 132, .1490196078);
}

.yoga-circle {
  padding: 6px 10px 6px 0;
  height: auto;
  width: 50px;

}

.event-info {
  width: 88%;
  align-self: center;
  margin-left: 20px;
  height: unset;
  align-items: unset;
}

.primary {
    font-size: calc(12px + 3 * (100vw - 300px) / 1620) !important;
    margin-bottom: 10px;
    font-weight: 700;

}

.ng-star-inserted {
  background: transparent;
  border: 1px solid #2d2d2d;
  color: #2d2d2d;
  border: 1px solid;
  border-radius: 5px;
  font-size: calc(12px + 3 * (100vw - 300px) / 1620) !important;
  margin: 0 10px 10px 0;
  padding: 5px 8px;
}
h3{
  color: #054a84;
  font-weight: bold;
  margin-block: 10px;
}
.color_5{
  background: transparent;
    border: 1px solid #054a84;
    color: #054a84;
}
.color_4{
      background: #054a84;
    border: 1px solid #054a84;
    color: #fff;
}
.color_3{
      background: #25ae88;
    border: 1px solid #25ae88;
    color: #fff;
}
.color_2{
      background: #7a7a7a;
    color: #fff;
    border: 1px solid #7a7a7a;
}
.yoga-circle{
      padding: 6px 10px 6px 0;
    height: auto;
    width: 50px;
}
.ng-star-2{
      font-size: calc(12px + 3 * (100vw - 300px) / 1620) !important;
    margin-bottom: 10px;
    font-weight: 700;
}
.ng-2{
      font-size: calc(12px + 3 * (100vw - 300px) / 1620) !important;
    font-weight: 700;
}