<section class="resume ">
  <div class="container">
    <div class="row">
      <div class="candidateResume bg-white col-lg-8 col-md-12 col-sm-11 ">
        <div class="cover">
          <div class="label">
            very Active
          </div>
          <div class="img">
            <img [src]="url+mycandidate.photoURL " alt="image" style="width: 120px;height: 120px;"
              class="rounded-circle m-2">
          </div>
        </div>
        <div class="resumeInfo ">
          <h4 class="" style="color: #054a84 ; margin: 10px 0 0 150px;">{{mycandidate.fname}} {{mycandidate.lname}} (
            {{mycandidate.age}} years)</h4>
          <div class="d-flex justify-content-between align-items-center ">
            <div class="" style="color: black; margin: 10px 0 0 150px;">
              {{mycandidate.gender}}|{{mycandidate.martialStatus}}|{{mycandidate.noKids}} kids
              |{{mycandidate.religion}}|{{mycandidate.location}} </div>
            <div class="">
              <button class="btn bg-green text-white me-3" (click)="handleContact(mycandidate.id)">Cotact</button>
            </div>
          </div>
          <div class="directShap d-flex justify-content-center align-items-center p-2">
            Direct
          </div>
          <div class="sprator p-1 my-4 ">
            <h5 class=" ms-5">professional info</h5>
          </div>

          <div class="row py-3 personal-infomation d-flex justify-content-center">
            <div class="col-11 mx-auto  ">
              <div class="row ">
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 ">
                  <h5 class="footer-experience d-flex justify-content-start">
                    <div name="user" class="me-3">
                      <i class="fa-solid fa-user green"></i>
                    </div>
                    <p>{{mycandidate.position}}</p>
                  </h5>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 ">
                  <h5 class="footer-experience d-flex justify-content-start">
                    <div name="map" class=" me-3"><i class="fa-solid fa-location-pin green"></i></div> Present
                    Location:{{mycandidate.location}}
                  </h5>
                </div>
              </div>
              <div class="row ">
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 ">
                  <h5 class="footer-experience d-flex justify-content-start">
                    <div name="certificate" class="me-3"> <i class="fa-solid fa-star-of-life green"></i></div>
                    {{mycandidate.workExperience}} Years Experience
                  </h5>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 ">
                  <h5 class="footer-experience d-flex justify-content-start">
                    <div name="calendar" class="me-3"><i class="fa-solid fa-calendar-days green"></i></div>
                    {{mycandidate.availabilityDate}} | {{mycandidate.jobType}}
                  </h5>
                </div>
              </div>
            </div>
          </div>

        </div>

        <div class="sprator p-1 my-4 ">
          <h5 class=" ms-5">Skills / Duties</h5>
        </div>





        <div class="row yoga mt-3 event">
          <div class="col-11">
            <div class="col-11 phone_pedding mx-auto">
              <div class="event-container event-container_footer_margin_custom d-flex ">
                <div class="yoga-circle "><img loading="lazy" width="100%" height="auto" class=""
                    src="https://cdn.helperplace.com/skill_cat/1_1599642484.webp"
                    alt="https://cdn.helperplace.com/skill_cat/1_1599642484.webp"></div>
                <div class="event-info ">
                  <h3 class="primary  "> Language: </h3>
                  <div class="d-flex justify-content-start align-items-center">
                    <ng-container *ngFor="let lang of mycandidate.languages">
                      <h4 class="  color_1 ng-star-inserted"> {{lang.name}} </h4>
                    </ng-container>
                  </div>

                </div>
              </div>
            </div>
          </div>
          <div class="col-11">
            <div class="col-11 phone_pedding mx-auto">
              <div class="event-container event-container_footer_margin_custom d-flex ">
                <div class="yoga-circle "><img loading="lazy" width="100%" height="auto" class=""
                    src="https://cdn.helperplace.com/skill_cat/4_1599643968.webp"
                    alt="https://cdn.helperplace.com/skill_cat/4_1599643968.webp"></div>
                <div class="event-info ">
                  <h3 class="primary ar "> Main Skills: </h3>
                  <div class="d-flex justify-content-start align-items-center">
                    <ng-container *ngFor="let skill of mycandidate.mainSkills">
                      <h4 class="float-left  color_2 ng-star-inserted"> {{skill.name}} </h4>
                    </ng-container>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-11">
            <div class="col-11 phone_pedding mx-auto">
              <div class="event-container event-container_footer_margin_custom d-flex ">
                <div class="yoga-circle "><img loading="lazy" width="100%" height="auto" class=""
                    src="https://cdn.helperplace.com/skill_cat/2_1599644151.webp"
                    alt="https://cdn.helperplace.com/skill_cat/2_1599644151.webp"></div>
                <div class="event-info ">
                  <h3 class="primary ar "> Cooking Skills:
                  </h3>
                  <div class="d-flex justify-content-start align-items-center">
                    <h4 class="float-left  color_3 ng-star-inserted"> Asian </h4>
                    <h4 class="float-left  color_3 ng-star-inserted"> Chinese </h4>
                    <h4 class="float-left  color_3 ng-star-inserted"> Thai </h4>
                    <h4 class="float-left  color_3 ng-star-inserted"> Singaporean </h4>
                    <h4 class="float-left  color_3 ng-star-inserted"> Western </h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-11">
            <div class="col-11 phone_pedding mx-auto">
              <div class="event-container event-container_footer_margin_custom d-flex ">
                <div class="yoga-circle "><img loading="lazy" width="100%" height="auto" class=""
                    src="https://cdn.helperplace.com/skill_cat/3_1599642528.webp"
                    alt="https://cdn.helperplace.com/skill_cat/3_1599642528.webp"></div>
                <div class="event-info ">
                  <h3 class="primary ar "> Other Skills: </h3>
                  <div class="d-flex justify-content-start align-items-center">
                    <ng-container *ngFor="let skill of mycandidate.otherSkills">
                      <h4 class="float-left  color_4 ng-star-inserted"> {{skill.name}} </h4>
                    </ng-container>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-11">
            <div class="col-11 phone_pedding mx-auto">
              <div class="event-container event-container_footer_margin_custom d-flex ">
                <div class="yoga-circle "><img loading="lazy" width="100%" height="auto" class=""
                    src="https://cdn.helperplace.com/skill_cat/5_1599644127.webp"
                    alt="https://cdn.helperplace.com/skill_cat/5_1599644127.webp"></div>
                <div class="event-info ">
                  <h3 class="primary ar "> Personality: </h3>
                  <div class="d-flex justify-content-start align-items-center flex-wrap">
                    <h4 class=" color_5 ng-star-inserted"> Good Listener </h4>
                    <h4 class=" color_5 ng-star-inserted"> Hardworking </h4>
                    <h4 class=" color_5 ng-star-inserted"> Honest </h4>
                    <h4 class=" color_5 ng-star-inserted"> Independent </h4>
                    <h4 class=" color_5 ng-star-inserted"> Initiative </h4>
                    <h4 class=" color_5 ng-star-inserted"> Kids Lover </h4>
                    <h4 class=" color_5 ng-star-inserted"> Love Cooking </h4>
                    <h4 class=" color_5 ng-star-inserted"> Loyal </h4>
                    <h4 class=" color_5 ng-star-inserted"> Patience </h4>
                    <h4 class=" color_5 ng-star-inserted"> Pet Lover </h4>
                    <h4 class=" color_5 ng-star-inserted"> Trustworthy </h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="sprator p-1 my-4 ">
          <h5 class=" ms-5">About Me</h5>
        </div>
        <div>
          <p class="text-center m-4">{{mycandidate.description}}</p>
        </div>
        <div class="sprator p-1 my-4 ">
          <h5 class=" ms-5">Work Experience</h5>
        </div>
        <ng-container *ngFor="let ex of mycandidate.experiences">
          <div class="col-11 phone_pedding mx-auto mb-5 ng-star-2 border-bottom">
            <div class="event-container event-container_footer_margin_custom d-flex ">
              <div class="yoga-circle ">
                <picture class="">
                  <source
                    srcset="https://cdn.helperplace.com/web-asset/images/icon/prize-badge-with-star-and-ribbon-black.png"
                    width="35px" height="35px" media="(max-width:768px)" class=""><img
                    src="https://cdn.helperplace.com/web-asset/images/icon/prize-badge-with-star-and-ribbon-black.png"
                    width="40px" height="40px" loading="lazy"
                    alt="https://cdn.helperplace.com/web-asset/images/icon/prize-badge-with-star-and-ribbon-black.png"
                    class="">
                </picture>
              </div>
              <div class="event-info text-left ">
                <h3 class="primary text-left mb-0 "> {{getCompletionYearDate(ex.startYear)}} -
                  <span class=" ng-star-2">{{ getCompletionYearDate(ex.endYear)}}</span>
                </h3>
                <div class="d-flex align-items-center justify-content-start">
                  <h3 class="ng-2 ">{{ex.jobPosition}} </h3>
                  <div name="map m-0" class="icons">
                    <i class="fa-solid fa-location-dot green mx-2"></i>
                  </div>
                  <span class="location-span mb-0 ng-star-2">
                    {{ex.duties}}
                  </span>
                </div>
                <p class="text-left mb-1 "> Canadian Family </p>
                <p class="text-left mb-1  ng-star-2">
                  Duties:{{ex.duties}} </p>
                <p class="text-left mb-1  ng-star-2">{{getref(ex.hasLetterRef)}} </p>
              </div>
            </div>
          </div>
        </ng-container>
        <div class="sprator p-1 my-4 ">
          <h5 class=" ms-5">My Expectations</h5>
        </div>
        <div
          class="event-container event-container_footer_margin_custom d-flex p-4  border-1 border-bottom border-black">
          <div class="yoga-circle">
            <picture class="ng-tns-c1181781737-1">
              <source srcset="https://cdn.helperplace.com/web-asset/images/icon/give-money.png" width="35px"
                height="35px" media="(max-width:768px)" class="ng-tns-c1181781737-1"><img
                src="https://cdn.helperplace.com/web-asset/images/icon/give-money.png" width="40px" height="40px"
                loading="lazy" alt="https://cdn.helperplace.com/web-asset/images/icon/give-money.png"
                class="ng-tns-c1181781737-1">
            </picture>
          </div>
          <div class="event-info text-left">
            <h3 class="primary text-left mb-0"> Salary: </h3>
            <h3 class="mb-0 ng-star-2"> {{mycandidate.expectedSalary}} <span class="ng-tns-c1181781737-1 ng-star-2">(≈
                US$ 628)</span></h3>
          </div>
        </div>
        <div
          class="event-container event-container_footer_margin_custom d-flex p-4  border-1 border-bottom border-black">
          <div class="yoga-circle">
            <picture class="ng-tns-c1181781737-1">
              <source srcset="https://cdn.helperplace.com/web-asset/images/icon/bed.png" width="35px" height="35px"
                media="(max-width:768px)" class="ng-tns-c1181781737-1"><img
                src="https://cdn.helperplace.com/web-asset/images/icon/bed.png" width="40px" height="40px"
                loading="lazy" alt="https://cdn.helperplace.com/web-asset/images/icon/bed.png"
                class="ng-tns-c1181781737-1">
            </picture>
          </div>
          <div class="event-info text-left">
            <h3 class="primary text-left mb-0">Accommodation: </h3>
            <h3 class="mb-0 ng-star-2"> {{mycandidate.accommodationPref}}</h3>
          </div>
        </div>
        <div
          class="event-container event-container_footer_margin_custom d-flex p-4  border-1 border-bottom border-black">
          <div class="yoga-circle">
            <picture class="ng-tns-c1181781737-1">
              <source srcset="	https://cdn.helperplace.com/web-asset/images/icon/home-rest-day-calendar-page.png"
                width="35px" height="35px" media="(max-width:768px)" class="ng-tns-c1181781737-1"><img
                src="	https://cdn.helperplace.com/web-asset/images/icon/home-rest-day-calendar-page.png" width="40px"
                height="40px" loading="lazy"
                alt="	https://cdn.helperplace.com/web-asset/images/icon/home-rest-day-calendar-page.png"
                class="ng-tns-c1181781737-1">
            </picture>
          </div>
          <div class="event-info text-left">
            <h3 class="primary text-left mb-0">
              Day Off: </h3>
            <h3 class="mb-0 ng-star-2"> {{mycandidate.preferredDay}}</h3>
          </div>
        </div>











<!-- 
       <div class="row pt-3 pb-3">
          <div class="row">
            <h3 class="col-12 text-center ">Education</h3>
          </div>
          <ng-container *ngFor="let ed of mycandidate.educations">
            <div>{{ed.educationLevel}} / {{ getCompletionYearDate(ed.completionYear)}} </div>
            <div>{{ed.crsDuration}}</div>
          </ng-container>
        </div>  -->

        <!-- //////////exp -->

        <!-- /////////expec -->
  <!-- <div class="row pt-3 pb-3">
          <div class="row">
            <h3 class="col-12 text-center ">Expectations</h3>
          </div>
          <div style="color: #054a84; font-weight: bold;">Salary: <span
              style="color: black;">{{mycandidate.expectedSalary}} $</span> </div>
          <div style="color: #054a84; font-weight: bold;">accommodation Preference: <span
              style="color: black;">{{mycandidate.accommodationPref}}</span></div>
          <div style="color: #054a84; font-weight: bold;">DayOff: <span
              style="color: black;">{{mycandidate.preferredDay}}</span></div>



        </div> -->

      </div> 


      <div class=" col-lg-4 rigthSec " style=" margin: 60px 0;">
        <div class="card helperCard p-2">
          <div class="d-flex justify-content-center align-items-center">
            <div class="">
              <div class=" rounded-circle overflow-hidden containImg ">
                <img src="../../assets/Images/3.jpg" class="img-fluid rounded-start" alt="helper-phone" width="100">
              </div>
            </div>
            <div class="">
              <div class="card-body ">
                <h5 class="card-title text-info m-0">Hnin</h5>
                <ul class="list-unstyled mt-4 d-flex flex-column justify-content-center">
                  <li class="card-text " style="color: #25ae88;"><i class="fa-solid fa-location-dot"></i><span
                      class="text-black"> Indonesia </span></li>
                  <li class="card-text" style="color: #25ae88;"><i class="fa-solid fa-star-of-life"></i> <span
                      class="text-black"> Domestic Helper | Full Time </span> </li>
                  <li class="card-text" style="color: #25ae88;"><i class="fa-solid fa-calendar-days"></i><span
                      class="text-black"> From 01 Jul 2024 </span> </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="card helperCard p-2">
          <div class="d-flex justify-content-center align-items-center">
            <div class="">
              <div class=" rounded-circle overflow-hidden containImg ">
                <img src="../../assets/Images/3.jpg" class="img-fluid rounded-start" alt="helper-phone" width="100">
              </div>
            </div>
            <div class="">
              <div class="card-body ">
                <h5 class="card-title text-info m-0">Hnin</h5>
                <ul class="list-unstyled mt-4 d-flex flex-column justify-content-center">
                  <li class="card-text " style="color: #25ae88;"><i class="fa-solid fa-location-dot"></i><span
                      class="text-black"> Indonesia </span></li>
                  <li class="card-text" style="color: #25ae88;"><i class="fa-solid fa-star-of-life"></i> <span
                      class="text-black"> Domestic Helper | Full Time </span> </li>
                  <li class="card-text" style="color: #25ae88;"><i class="fa-solid fa-calendar-days"></i><span
                      class="text-black"> From 01 Jul 2024 </span> </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="card helperCard p-2">
          <div class="d-flex justify-content-center align-items-center">
            <div class="">
              <div class=" rounded-circle overflow-hidden containImg ">
                <img src="../../assets/Images/3.jpg" class="img-fluid rounded-start" alt="helper-phone" width="100">
              </div>
            </div>
            <div class="">
              <div class="card-body ">
                <h5 class="card-title text-info m-0">Hnin</h5>
                <ul class="list-unstyled mt-4 d-flex flex-column justify-content-center">
                  <li class="card-text " style="color: #25ae88;"><i class="fa-solid fa-location-dot"></i><span
                      class="text-black"> Indonesia </span></li>
                  <li class="card-text" style="color: #25ae88;"><i class="fa-solid fa-star-of-life"></i> <span
                      class="text-black"> Domestic Helper | Full Time </span> </li>
                  <li class="card-text" style="color: #25ae88;"><i class="fa-solid fa-calendar-days"></i><span
                      class="text-black"> From 01 Jul 2024 </span> </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>