<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Fname</th>
            <th scope="col">Lname</th>
            <th scope="col">Phone</th>
            <th scope="col">Location</th>
            <th scope="col">DayOff</th>
            <th scope="col">Accomodation</th>
            <th scope="col">Salary</th>
            <th scope="col">KidsNo</th>
            <th scope="col">AdultNo</th>
            <th scope="col">HasBet</th>
            <th scope="col">Description</th>
            <th scope="col">Title</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">{{ currentEmployer.id }}</th>
            <td>{{ currentEmployer.fname }}</td>
            <td>{{ currentEmployer.lname }}</td>
            <td>{{ currentEmployer.phoneNumber }}</td>
            <td>{{ currentEmployer.location }}</td>
            <td>{{ currentEmployer.dayOff }}</td>
            <td>{{ currentEmployer.accomodation }}</td>
            <td>{{ currentEmployer.salary }}</td>
            <td>{{ currentEmployer.kidsNo }}</td>
            <td>{{ currentEmployer.adultNo }}</td>
            <td>{{ currentEmployer.hasBet }}</td>
            <td>{{ currentEmployer.description }}</td>
            <td>{{ currentEmployer.title }}</td>
        </tr>
    </tbody>
</table>
<a class="btn bsb-btn-xl btn-outline-danger rounded-pill m-2" (click)="back()">Back</a>