<div class="rounded mb-5" id="main">
  <div class="d-flex justify-content-between align-items-center m-3">
    <div
      class="rounded-circle overflow-hidden border border-1 border-black candidatImg"
    >
      <img
        src="../../../../assets/Images/family_images/Family.png"
        alt="image"
        width="100%"
      />
    </div>

    <div class="rigthPart w-75 ms-2">
      <h4 class="jobTitle my-3">
        {{ Job.jobRequirments.basicInformation.positionOffered }}
      </h4>
      <p class="lead text-secondary">
        {{ Job.jobRequirments.basicInformation.type }}
        <span style="color: #054a84">
          <i class="fa-solid fa-location-dot"></i>
          {{ Job.jobRequirments.basicInformation.location }}
        </span>
      </p>
      <p class="jobDescription">
        <!-- {{ Job.jobDetails.jobDescription }} -->
        Hi, We are a loving indian family of 4 ppl (2 adults , 1 kid and 1
        baby). We are looking for our second helper, who can help with some
        daily chores and take our elder son to classes. We treat as family, so
        looking for someone who is equally happy goi
      </p>
    </div>
  </div>


  <div class="d-flex candiateInfo justify-content-between align-items-center ps-0">
    <div class="directShap d-flex justify-content-center align-items-center p-2">
      Direct
    </div>
    <div class="d-flex justify-content-between align-items-center">
      <i class="fa-solid fa-certificate me-2" style="color: #25ae88"></i>
      <p style="color: #054a84; margin-bottom: 0" class="">
        {{ Job.jobRequirments.basicInformation.positionOffered }} |
        {{ Job.jobRequirments.basicInformation.type }}
      </p>
    </div>
    <div class="d-flex justify-content-between align-items-center">
      <i class="fa-solid fa-hourglass-start me-2" style="color: #25ae88"></i>
      <p style="color: #054a84; margin-bottom: 0" class="">
        {{
        handleDate(
        Job.jobRequirments.basicInformation.startDate
        ).toLocaleDateString() |  dateFormatForJob
        }}
      </p>
    </div>
      <div style="color: #25ae88; cursor: pointer" [routerLink]="['/JobDetails', Job.id]">
        <i class="fa-solid fa-circle"></i> Very Active
      </div>
  </div>
</div>
