* {
  font-weight: 700;
}
#main {
    box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.2);
    padding:10px 0;
}
.jobDescription{
  font-weight:normal;
  width: 90%;
  margin-right: auto;
}

#trian {
  width: 120px;
  height: 30px;
  background-color: lightblue;
  margin-left: 0;
  position: relative;
}
.jobTitle{
  font-size: 18px;
    color: #054a84;
    font-weight: 600;
    margin-bottom: 0;
    transition: all .5s ease;
}
#trian::after {
  content: "";
  width: 0px;
  height: 0px;
  border-top: 15px solid lightblue;
  border-bottom: 15px solid lightblue;
  border-left: 15px solid lightblue;
  border-right: 15px solid transparent;
  position: absolute;
  right: -30px;
}
  .candidatImg{
    width: 150px;
    height: 150px;
  }
  .directShap{
  margin:8px 0 ;
  background-color: #054a84;
  z-index: 2;
    width: 20%;
    height: auto;
    text-align: center;
    display: flex;
    font-size: 15px;
    line-height: 23px;
    height: 24px;
    color: #fefefe;
    font-weight: 500;
    clip-path: polygon(100% 0, 90% 50%, 100% 100%, 0% 100%, 0 0%, 0% 0%);
    border-bottom: 3px solid #ebba16;
}

 @media (max-width:771px) {
  .candidatImg{
    width: 100px;
    height: 100px;
  }
    .jobDescription{
      display: none !important;
    }
    .info{
        flex-direction: column;
        align-items: flex-start !important;
        margin-left: 12px;
        font-size: 14px;
    }
  }