@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700");

body {
  font-family: "Open Sans", sans-serif;
  background-color: #e9ecef;
}

section {
  width: 100%;
  padding: 60px 0;
}

.profile-card {
  max-width: 400px;
  border-radius: 15px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background: white;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  position: relative;
  margin: 20px;
}

.profile-card:hover {
  transform: translateY(-10px);
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
}

.profile-card .card-body {
  padding: 20px;
  text-align: center;
  position: relative;
}

.profile-card .profile-img-container {
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
  border: 4px solid #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-card .profile-img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}

.profile-card:hover .profile-img {
  transform: scale(1.1);
}

.profile-card .card-title {
  font-weight: 700;
  font-size: 24px;
  color: #343a40; /* Dark Gray */
  margin-top: 60px;
  margin-bottom: 10px;
}

.profile-card .card-location {
  font-weight: 300;
  font-size: 16px;
  color: #6c757d; /* Medium Gray */
  margin-bottom: 20px;
}

.profile-card .contact-info {
  margin: 15px 0;
}

.profile-card .contact-info p {
  margin: 5px 0;
  font-size: 14px;
  color: #495057; /* Slightly Darker Gray */
}

.profile-card .icon-block {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.profile-card .icon-block a {
  text-decoration: none;
  margin: 0 10px;
  transition: transform 0.3s ease, color 0.3s ease;
}

.profile-card .icon-block a i {
  display: inline-block;
  font-size: 20px;
  color: #007bff; /* Bootstrap Blue */
  text-align: center;
  border: 2px solid #007bff;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
}

.profile-card .icon-block a:hover i {
  background-color: #007bff;
  color: #fff;
  transform: rotate(360deg);
}
