<section>
  <div class="container">
    <div class="row justify-content-center">
      <div class="card profile-card">
        <div class="card-body text-center">
          <div class="profile-img-container">
            <img [src]="photoUrl + mycandidate.photoURL" alt="profile-image" class="profile-img" />
          </div>
          <h2 class="card-title text-primary">{{ mycandidate.fname }} {{ mycandidate.lname }}</h2>
          <p class="card-location">{{ mycandidate.location }}</p>
          <div class="contact-info">
            <p><i class="fa fa-phone"></i> {{ mycandidate.phoneNumber }}</p>
            <p><i class="fa fa-whatsapp"></i> {{ mycandidate.whatappNumber }}</p>
            <p class="text-primary"><i class="fa fa-envelope "></i> {{ mycandidate.contactEmail }}</p>
        
          </div>
          <div class="icon-block">
            <a [href]="'mailto:' + mycandidate.contactEmail"><i class="fa fa-envelope"></i></a>
            <a [href]="'tel:' + mycandidate.phoneNumber"><i class="fa fa-phone"></i></a>
            <a [href]="'https://wa.me/' + mycandidate.whatappNumber"><i class="fa fa-whatsapp"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
