<form class="Work Add">
  <div class="row edit-title mt-4" style="min-height: 45px; background: grey;">
    <label class="ng-star-inserted">{{ PlaceHolder }} Work Experience</label>
  </div>


  <div class="  row mt-4">

    <app-search-select [ReceivedValue]="RequiredWorkingToEdit.JobPosition" [Options]="data.jopPositionStatus"
      (ValueSelected)="SetJopPosition($event)" class="col-md-6 col-12" PlaceHolder="jop position">
    </app-search-select>

    <app-search-select [ReceivedValue]="RequiredWorkingToEdit.WorkingCountry" [Options]="Data.NationalityStatusOptions"
      (ValueSelected)="SetWorkingCompany($event)" class="col-md-6 col-12" PlaceHolder="Working Country">
    </app-search-select>


    <app-datepicker [ReceivedDate]="RequiredWorkingToEdit.StartDate" (dateChange)="SetStartYear($event)"
      PlaceHolder="Start Year" class="col-md-6 col-12"></app-datepicker>
    <app-datepicker [ReceivedDate]="RequiredWorkingToEdit.EndDate" (dateChange)="SetEndYear($event)"
      PlaceHolder="End Year" class="col-md-6 col-12"></app-datepicker>
  </div>

  <app-search-select [ReceivedValue]="RequiredWorkingToEdit.EmployerType" [Options]="data.EmployerTypeStatus"
    (ValueSelected)="SetEmployerType($event)" class="col-md-8 mb-3 " PlaceHolder="Employer Type"></app-search-select>
  <div class="Duties">


    <app-multiple-choice [SelectedValues]="RequiredWorkingToEdit.Duties" (DeleteChoices)="DeleteDuties($event)"
      (SetChoices)="SetDuties($event)" [Options]="data.MainSkillsStatus" PlaceHolder="Duties"></app-multiple-choice>
  </div>
  <app-slide-toggle [ReceivedValue]="RequiredWorkingToEdit.HaveReferenceLetter" (ValueChanged)="HaveLetter($event)"
    [PlaceHolder]="'Do you have reference Letter?'"></app-slide-toggle>
  <div class="mt-4">
    <button (click)="OnClose.emit()" type="button" class="btn btn-primary" style="background-color: #054a84;color: white;">
      Cancel
    </button>
    <button (click)="SaveAndDestroy()" type="button" class="btn btn-warning"
      style="background-color:#25ae88;color: white;">
      {{ PlaceHolder }}
    </button>
  </div>
</form>