<div class="container my-5">
    <!-- Icon -->
    <div class="text-center mb-4">
        <i class="fa-sharp fa-solid fa-location-dot fa-5x"></i>
    </div>

    <h3>Direct Hire In Your Place</h3>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="card text-center px-4 py-4">
                <div class="card-body">
                    <h5 class="card-title">philippine</h5>
                    <p class="card-text">Almost 400,000 local domestic helpers from philippine.</p>
                    <img src="../../../assets/Images/home/philippine.jpeg" class="card-img-top rounded mx-auto mb-4 d-block"
                        alt="HelperPlace Logo" style="width: 100px; height: 100px;">
                    <p class="card-text">Skills, availability, finished contract; our platform helps you to easily hire.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="card text-center px-4 py-4">
                <div class="card-body">
                    <h5 class="card-title">Singapore</h5>
                    <p class="card-text">More than 250,000 maids are legally working in Singapore.</p>
                    <img src="../../../assets/Images/home/place2.jpg" class="card-img-top rounded mx-auto d-block"
                        alt="Fast and Secure" style="width: 100px; height: 100px;">
                    <p class="card-text">Looking for a Transfer Filipino Maid or an Indonesian Helper?</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="card text-center px-4 py-4">
                <div class="card-body">
                    <h5 class="card-title">More Location</h5>
                    <p class="card-text">Few million domestic workers are in Dubai, Macau, Saudi Arabia, or in the
                        Middle East.</p>
                    <img src="../../../assets/Images/home/place3.jpg" class="card-img-top rounded mx-auto d-block"
                        alt="HelperPlace Feature" style="width: 100px; height: 100px;">
                    <p class="card-text">Local or overseas hire, you have more choices.</p>
                </div>
            </div>
        </div>
    </div>
</div>