


<router-outlet></router-outlet>

 <!-- <div class="container">
  <div class="row">
    <h2 class="text-center mt-4">Angular Stepper Tutorials</h2>
    <div class="col-md-9 mx-auto">
      <app-stepper [linearModeSelected]="false" #appStepper>
        <cdk-step [label]="'Information'">

    <app-personal-information></app-personal-information>
        </cdk-step>
        <cdk-step [label]="'Contact'">


         <app-education-working></app-education-working>
        </cdk-step>
        <cdk-step [label]="'Security'">
        <app-professional-information></app-professional-information>

        </cdk-step>

      </app-stepper>
    </div>
  </div>
</div> -->
