<section class="example-section">
    <h4>{{PlaceHolder}}</h4>
    @for (Option of Options; track Option) {
         <div class="btn ng-star-inserted">
          <input type="checkbox" [checked]="SelectedValues.includes(Option)" (change)="PushOrPull(Option,$event)" class="d-none ng-untouched ng-pristine ng-valid">
        <div class=" d-flex "> {{Option}}</div>

        <!-- <mat-checkbox [checked]="SelectedValues.includes(Option)"
        (change)="PushOrPull(Option,$event)" class=" ng-untouched ng-pristine ng-valid">{{Option}}</mat-checkbox> -->
      </div>
    <!-- <mat-checkbox [checked]="SelectedValues.includes(Option)"
        (change)="PushOrPull(Option,$event)">{{Option}}</mat-checkbox> -->
    }
</section>
