  .Job-wrapper
  {
    height: 125px;
    width: 300px;
  }
  span
  {
    font-size: 15px;
  }
  #Full-Time:checked:checked ~ .Full span,
  #Temporary-Time:checked:checked ~ .Temporary span,
  #Part-Time:checked:checked ~ .Part span
  {
    color: #fff;
  }
  #Full-Time:checked:checked ~ .Full,
  #Temporary-Time:checked:checked ~ .Temporary,
  #Part-Time:checked:checked ~ .Part
  {
    border-color: #7b7c7d;
    background: #7b7c7d;
  }
  .Time-wrapper .option span{
    font-size: 12.5px;
    text-align: center;
  }
  input[type="radio"]:checked {
    background-color: #3c1e1e;
  }
  .Skills
  {
    padding: 0% 10%;
  }

