<div class="Skills Add">
 
    <div class="row edit-title mt-4" style="min-height: 45px; background: grey;">
    <label class="ng-star-inserted">{{ PlaceHolder }} Education Experience</label>
  </div>

  <app-search-select
    [ReceivedValue]="RequiredEducationToEdit.Education"
    (ValueSelected)="SetEducation($event)"
    [Options]="data.schoolStatus"

    PlaceHolder="Education"
  ></app-search-select>
  <app-search-select
  [ReceivedValue]="RequiredEducationToEdit.CourseDuration"

    (ValueSelected)="SetCourseDuration($event)"
    [Options]="data.educationdurationStatus"

    class="col-md-7 mb-3"
    PlaceHolder="Course Duration "
  ></app-search-select>
  <app-search-select
  [ReceivedValue]="RequiredEducationToEdit.CompletionYear"
    (ValueSelected)="SetCompletionYear($event)"
    [Options]="data.yearsStatus"
    class="col-md-7 mb-3"
    PlaceHolder="Completion Year/Last Attended Year"
  ></app-search-select>
  <app-slide-toggle
    [ReceivedValue]="RequiredEducationToEdit.HaveCompletedCourse"
    (ValueChanged)="CompletedCourse($event)"
    PlaceHolder="Have you completed this course?"
  ></app-slide-toggle>
  <div style="margin-top: 2.5%">
    <button
      (click)="OnClose.emit()"
      type="button"
      class="btn btn-primary me-3"
      style="background-color:#054a84"

    >
      Back
    </button>
    <button
      (click)="SaveAndDestroy()"
      type="button"
      class="btn btn-warning text-white"
      style="background-color: #25ae88"
    >
      {{ PlaceHolder }}
    </button>
  </div>
</div>
