/* You can add global styles to this file, and also import other style files */
@import url("../node_modules/bootstrap/dist/css/bootstrap.min.css");
@import url("../node_modules/@fortawesome/fontawesome-free/css/all.css");
@import '@fortawesome/fontawesome-free/css/all.css';
@import 'mdb-angular-ui-kit/assets/scss/mdb.scss';
@import url("../node_modules/bootstrap/dist/css/bootstrap.min.css");
@import url("../node_modules/@fortawesome/fontawesome-free/css/all.css");
@import '../node_modules/@fortawesome/fontawesome-free/css/all.css';


html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  padding-top: 45px;
}

@font-face {
  font-family: Poppins;
  src: url(./assets/fonts/Poppins-Regular.ttf) format("truetype");
}

body {
  font-family: Poppins;
}
