.addResume {
  background: center no-repeat url("../../../../../assets/Images/home/Helper.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.Post-Resume {
  margin: 80px 0;
  border-top: 15px solid #054a84;
}
.bg-blue {
  background-color: #054a84;
}

.sprator {
  height: 5px;
  /* background: #000; */
  margin-bottom: 7px;
  width: 100%;
  border-top: 1px dashed #504f4f86;
}
@media (max-width: 630px) {
  .wrapper {
    width: 50%;
  }
  .formSteps {
    display: none !important;
  }
  .detailsRespon {
    flex-direction: column;
  }
}
label {
    display: inline-block;
    margin-bottom: .5rem;
}