
<section class="testmonial bg-body-secondary py-5">
<div class="container">
    <div class="title title2 powerful-feature-header">
        <img  loading="lazy" alt="helperPlane Logo" width="45px" height="45px" class="img-fluid title-img" src="../../../assets/Images/logo.svg">
        <div class="heatTitleContain borders main-text position-relative my-3  ">
            <span class="heatTitle">Testimonials</span>
        </div>
            <div class="title title2">
                <div  class="sub-title">
                    <h2  class="section-header text-capitalize text-center">What Our Clients Say About Us.</h2>
                </div>
            </div>
        </div>
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">

            <div class="carousel-item active">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12 marginCards  ">
                        <div class="card">
                            <div class="d-flex align-items-center ">
                                <div class="w-25 ms-2">
                                    <img src="../../../../assets/Images/comma.png" alt="comma" width="40%">
                                </div>
                                   <div class="img  mt-3 rounded-circle border border-5 border-white ms-5 shadow">
                                    <img class="card-img-top" src="../../../assets/Images/1.jpg"
                                        alt="Card image cap" width="100">
                                </div>
                            </div>


                            <div class="card-body text-center">
                                
                                <p class="card-text">HelperPlane offer an amazing service and I couldn’t be happier! They are dedicated to helping families to find great helpers. Wonderful service!</p>
                                <h3 _ngcontent-serverapp-c3877268260="" class="name custom-text-h3"
                                    style="font-weight: 600; font-size: 18px; margin-bottom: 10px; margin-top: 20px; color: #054a84;">
                                    Grace H.</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 marginCards ">
                        <div class="card">
                            <div class="d-flex align-items-center ">
                                <div class="w-25 ms-2">
                                    <img src="../../../../assets/Images/comma.png" alt="comma" width="40%">
                                </div>
                                  <div class="img  mt-3 rounded-circle border border-5 border-white ms-5 shadow">
                                    <img class="card-img-top" src="../../../assets/Images/3.jpg"
                                        alt="Card image cap" width="100">
                                </div>
                            </div>


                            <div class="card-body text-center">
                                
                                <p class="card-text">They helped me find a nanny in less than 2 days and she is just amazing, I sincerely recommend helperPlane!</p>
                                <h3 _ngcontent-serverapp-c3877268260="" class="name custom-text-h3"
                                    style="font-weight: 600; font-size: 18px; margin-bottom: 10px; margin-top: 20px; color: #054a84;">
                                    Grace H.</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 marginCards  ">
                        <div class="card">
                            <div class="d-flex align-items-center ">
                                <div class="w-25 ms-2">
                                    <img src="../../../../assets/Images/comma.png" alt="comma" width="40%">
                                </div>
                                <div class="img  mt-3 rounded-circle border border-5 border-white ms-5 shadow">
                                    <img class="card-img-top" src="../../../assets/Images/6.jpg"
                                        alt="Card image cap" width="100">
                                </div>
                            </div>


                            <div class="card-body text-center">
                                
                                <p class="card-text">I really was into the rush to find a Helper and finally connect with the right candidate in less than 3 days. Really more choice than any agency.</p>
                                <h3 _ngcontent-serverapp-c3877268260="" class="name custom-text-h3"
                                    style="font-weight: 600; font-size: 18px; margin-bottom: 10px; margin-top: 20px; color: #054a84;">
                                    Grace H.</h3>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="carousel-item ">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12 marginCards">
                        <div class="card">
                            <div class="d-flex align-items-center ">
                                <div class="w-25 ms-2">
                                    <img src="../../../../assets/Images/comma.png" alt="comma" width="40%">
                                </div>
                                   <div class="img  mt-3 rounded-circle border border-5 border-white ms-5 shadow">
                                    <img class="card-img-top" src="../../../assets/Images/1.jpg"
                                        alt="Card image cap" width="100">
                                </div>
                            </div>


                            <div class="card-body text-center">
                                
                                <p class="card-text"> i really was into the rush to find a Helper and finally connect with the right candidate in less than 3 days. Really more choice than any agency.</p>
                                <h3 _ngcontent-serverapp-c3877268260="" class="name custom-text-h3"
                                    style="font-weight: 600; font-size: 18px; margin-bottom: 10px; margin-top: 20px; color: #054a84;">
                                    Grace H.</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 marginCards ">
                        <div class="card">
                            <div class="d-flex align-items-center ">
                                <div class="w-25 ms-2">
                                    <img src="../../../../assets/Images/comma.png" alt="comma" width="40%">
                                </div>
                                 <div class="img  mt-3 rounded-circle border border-5 border-white ms-5 shadow">
                                    <img class="card-img-top" src="../../../assets/Images/3.jpg"
                                        alt="Card image cap" width="100">
                                </div>
                            </div>


                            <div class="card-body text-center">
                                
                                <p class="card-text">They helped me find a nanny in less than 2 days and she is just amazing, I sincerely recommend helperPlane!</p>
                                <h3 _ngcontent-serverapp-c3877268260="" class="name custom-text-h3"
                                    style="font-weight: 600; font-size: 18px; margin-bottom: 10px; margin-top: 20px; color: #054a84;">
                                    Grace H.</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 marginCards  ">
                        <div class="card">
                            <div class="d-flex align-items-center ">
                                <div class="w-25 ms-2">
                                    <img src="../../../../assets/Images/comma.png" alt="comma" width="40%">
                                </div>
                                <div class="img  mt-3 rounded-circle border border-5 border-white ms-5 shadow">
                                    <img class="card-img-top" src="../../../assets/Images/6.jpg"
                                        alt="Card image cap" width="100">
                                </div>
                            </div>


                            <div class="card-body text-center">
                                
                                <p class="card-text">Helper plan offer an amazing service and I couldn’t be happier! They are dedicated to helping families to find great helpers. Wonderful service!</p>
                                <h3 _ngcontent-serverapp-c3877268260="" class="name custom-text-h3"
                                    style="font-weight: 600; font-size: 18px; margin-bottom: 10px; margin-top: 20px; color: #054a84;">
                                    Grace H.</h3>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            

        </div>


        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
            data-bs-slide="prev" style="    color: black; justify-content: flex-start;
    ">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
            data-bs-slide="next" style="    color: black; justify-content: flex-end;
    ">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
        
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="prev">
    <span class="border-2 prevBtn  " aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="next">
    <span class=" nextBtn" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
    </div>
</div>
</section>